.c-menu{
	z-index: 1;
	&_sub{
		position: absolute;
		width: 100%;
		left: 0;
		right: 0;
		padding: 1.5rem 0 3rem;
		transform: translateX(-100%);
		visibility: hidden;
		&inner{
			.l-container{
				@include flex-jbetween;
				padding: 0;
				&.col-3{
					dl{
						width: calc(33.3% - 20px);
    					margin: 0 10px;
					}
				}
				&.col-4{
					dl{
						width: calc(25% - 20px);
    					margin: 0 10px;
					}
				}
				&.col-5{
					dl{
						width: calc(20% - 20px);
    					margin: 0 10px;
					}
				}
			}
			background: rgba(0,0,0,.85);
			backdrop-filter: blur(8px);
			padding: 2rem 0 5rem;
			dl{
				font-size: 1.6rem;
				dt{
					font-weight: 700;
					margin-bottom: 1rem;
					color: white;
				}
				dd{
					a{
						font-style: normal;
						font-weight: 300;
						font-size: 1.5rem;
						line-height: 1.2;
					}
					padding: 5px 0;
				}
			}
			ul{
				@include flex-center;
				text-align: center;
				width: 100%;
			}
		}
		.ttl{
			background-color: white;
			font-size: 1.5rem;
			font-weight: 600;
			color: black;
			padding: 2rem;
		}
	}
	&_dropdown{
		&:hover{
			.c-menu_sub{
				visibility: visible;
				transform: translateX(0);
				z-index: 1;
			}
		}
		&.hide{
			.c-menu_sub{
				transform: translateX(-100%);
				visibility: hidden;
				z-index: 0;
			}
		}
		&.show{
			> a{
				border-bottom: 1.5px solid;
			}
			.c-menu_sub{
				background: rgba(0,0,0,.44);
				backdrop-filter: blur(8px);
				visibility: visible;
				transform: translateX(0);
				z-index: 1;
			}
		}
	}

}

.bg-full{
	// &:hover{
	// 	.c-menu_subinner {
	// 		#silestone{
	// 			> a{
	// 				border-bottom:  1.5px solid;
	// 			}
	// 			.c-menu_sub{
	// 				visibility: visible;
	// 				transform: translateX(0);
	// 				z-index: 1;
	// 			}
	// 		}
	// 	}
	// }
	
	.c-menu_sub{
		//background: rgba(0, 0, 0, 0.85);
		// backdrop-filter: blur(8px);
	}
}
