.c-menu{
	z-index: 1;
	&_sub{
		position: absolute;
		width: 100%;
		left: 0;
		right: 0;
		padding: 1.5rem 0 3rem;
		transform: translateX(-100%);
		visibility: hidden;
		&inner{
			.l-container{
				@include flex-jbetween;
				padding: 0;
				&.col-3{
					dl{
						width: calc(33.3% - 20px);
    					margin: 0 10px;
					}
				}
				&.col-4{
					dl{
						width: calc(25% - 20px);
    					margin: 0 10px;
					}
				}
				&.col-5{
					dl{
						width: calc(20% - 20px);
    					margin: 0 10px;
					}
				}
			}
			background: rgba(0,0,0,.85);
			backdrop-filter: blur(8px);
			padding: 2rem 0 5rem;
			dl{
				font-size: 1.4rem;
				dt{
					font-weight: 700;
					margin-bottom: 1rem;
				}
				dd{
					a{
						font-style: normal;
						font-weight: 300;
						font-size: 1.4rem;
						line-height: 1.2;
					}
					padding: 5px 0;
				}
			}
		}
		.ttl{
			background-color: white;
			font-size: 1.5rem;
			font-weight: 600;
			color: black;
			padding: 2rem;
		}
	}
	&_dropdown{
		&:hover{
			.c-menu_sub{
				visibility: visible;
				transform: translateX(0);
				z-index: 1;
			}
		}
	}

}