.m-product{
    margin-bottom: 6rem;
    &_top{
        @include flex-jbetween;
        > h4 {
            @include ttl4;
            @include sp{
                margin-bottom: 1rem;;
            }
        }
        @include sp{
            flex-direction: column;
        }
    }
    &__inner{
        @include flex-jbetween;
        flex-wrap: wrap;
        margin: 0 -10px;
        .slick-arrow{
            display: none !important;
        }
    }
    &__gallery{
        width: calc(50% - 20px);
        margin: 10px;
        order: 1;
        @include sp{
            width: 100%;
        }
    }
    &__nav {
        @include sp{
            margin-bottom: 2rem;
        }
        button{
            background-color: unset;
            border: none;
            svg{
                transition: 0.3 ease-out;
                circle{
                    stroke: #2B2929;
                }
                path{
                    fill: #2B2929;
                }
            }
            &:hover{
               cursor: pointer;
               svg{
                circle{
                    stroke: #EB6A6A;
                }
                path{
                    fill: #EB6A6A;
                }

            }
            }
        }
    }
    &__slick{
        width: calc(50% - 20px);
        margin: 10px;
        order: 2;
        @include sp{
            width: calc(100% - 16px);
        }
        ul{
            @include flex-jbetween;
            flex-wrap: wrap;
            margin: -10px;
            @include sp{
                margin: 4rem -8px -8px -8px;
            }
            li{
                width: calc(50% - 20px);
                margin: 10px;
                @include sp{
                    margin: 8px;
                    width: calc(50% - 16px);
                }
            }
        }
        &02{
           @include flex-jbetween;
           flex-wrap: wrap;
           ul{
               li{
                   width: calc(25% - 20px);
                   @include sp{
                    width: calc(50% - 16px);
                   }
               }
           }
        }
    }
    &__img {
        position: relative;
        width: 100%;
        img{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    a{
        text-decoration: none;
    }
    &__content{
        font-weight: 400;
        font-size: 1.6rem;
        &-top{
            @include flex-jbetween;
            margin-top: 20px;
            @include sp{
                flex-direction: column;
                margin-top: 7px;
            }
            h3{
                font-size: 2rem;
                line-height: 1.2;
                color: black;
                overflow: hidden;
                text-overflow: ellipsis;
                -webkit-line-clamp: 2;
                display: -webkit-box;
                -webkit-box-orient: vertical;
            }
        }
        &-bottom{
            @include flex-jbetween;
            align-items: flex-end;
            margin-top: 2.5rem;
            @include sp{
                flex-direction: column;
                align-items: flex-start;
                margin-top: 0;
            }
        }
    }
    &:nth-child(odd){
        .m-product__inner{
            .m-product__gallery{
                order: 2;
            }
            .m-product__slick{
                order: 1;
            }
        }
        @include sp{
            .m-product__inner{
                .m-product__gallery{
                    order: 1;
                }
                .m-product__slick{
                    order: 2;
                }
            }
        }
    }
}
.home {
    .m-product{
        &__slick{
            .slick-list {
                .slick-track {
                    li {
                        &:nth-of-type(odd) {
                            ul {
                                li {
                                    &:nth-of-type(1) {
                                        display: none;
                                    }
                                    &:nth-of-type(2) {
                                        display: none;
                                    }
                                    &:nth-of-type(3) {
                                        display: none;
                                    }
                                    &:nth-of-type(4) {
                                        display: none;
                                    }
                                }
                            }
                        }
                        &:nth-of-type(even) {
                            ul {
                                li {
                                    &:nth-of-type(5) {
                                        display: none;
                                    }
                                    &:nth-of-type(6) {
                                        display: none;
                                    }
                                    &:nth-of-type(7) {
                                        display: none;
                                    }
                                    &:nth-of-type(8) {
                                        display: none;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
.m-item{
    @include flex-jbetween;
    flex-wrap: wrap;
    margin: -10px;
    @include sp{
       margin: 0 auto;
    }
    li{
        width: 262px;
        margin: 10px;
        @include sp{
          width: 100%;
        }
    }
}