.intro {
    display: flex;
    justify-content: space-between;
    @include sp {
        flex-wrap: wrap;
    }
    &__box {
        position: relative;
        width:calc(50% - 8px);
        border-radius: 4px;
        border: 1px solid $border-color;
        @include sp {
            width: 100%;
        }
    }
    &__video {
        @include sp {
            margin-bottom: 16px;
        }
      
        overflow: hidden    ;
        video {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    &__content {
        // background: rgb(241, 235, 235);
        padding: 16px;
        h4 {
            @include font-config(16px, 400);
            @include text-spacing();
            margin-bottom: 8px;
        }
        p {
            @include font-config(14px, 400);
            @include text-spacing();
            overflow: hidden;
            -webkit-line-clamp: 9;
            -webkit-box-orient: vertical;
            display: -webkit-box;
        }
        a {
            display: block;
            @include font-config(14px, 600);
            @include text-spacing();
            color: #484848;
            text-decoration: none;
            margin-top: 4px;
        }
    }
}
.showroom {
    display: flex;
    justify-content: space-between;
    @include sp {
        flex-wrap: wrap;
    }
    &__slide {
        width: calc(50% - 8px);
        border: 1px solid $border-color;
        border-radius: 4px;
        overflow: hidden;
        height: 300px;
        @include sp {
            width: 100%;
            margin-top: 16px;
        }
    }
    
}
.intro__content {
    &__btn {
        position: absolute;
        right: 16px;
        left: 16px;
        bottom: 16px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 8px;
        a {
            display: flex;
            align-items: center;
            span {
                margin-left: 8px;
            }
        }
    }
    &__intro-skill {
        background: #ff6600;
        padding: 8px;
        color: #fff !important;
        border-radius: 4px;
    } 
    &__intro-cosentino {
        background: #ce1313;
        padding: 8px;
        border-radius: 4px;
        color: #fff !important;
    }
}