.m-category {
    margin: 2rem 0;
    ol {
        margin: 0 -10px;
        flex-wrap: wrap;
        @include flex;
        @include sp{
            margin: 0 -5px;
        }
        li{
            width: calc(25% - 20px);
            margin: 10px;
            @include sp{
                width: calc(50% - 5px);
                margin: 0;
                padding: 10px 5px;
            }
            a{
                text-decoration: none;
                transition: scale 0.2;
                &:hover{
                   img{
                     transform: scale(1.01);
                   }
                }
            }
            h3{
                background-color: rgb(238, 90, 7);
                padding: 10px 0;
                text-align: center;
                color: #fff;
                @include sp{
                    font-size: 1.2rem;
                    padding: 5px 0;
                }
            }
        }
    }
}