.c-product {
    a {
        text-decoration: none
    }
    &__img {
        height: 250px;
        width: 100%;
        overflow: hidden;
        border: 1px solid $border-color;
        border-radius: 8px;
        overflow: hidden;
        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
            border: 1px solid $border-color;
            transition: all .3s;
            &:hover {
                transform: scale(1.1);
            }
        }
    }
    &__body {
        padding: 16px;
        text-align: cener;
        h3 {
            @include font-config(14px, 500);
            @include text-spacing();
            color: #101010;
            text-transform: uppercase;
            margin-bottom: 4px;
            overflow: hidden;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            display: -webkit-box;
        }
        p{
            font-size: 14px;
            font-weight: 700;
            line-height: 150%;
            letter-spacing: 0.01em;
            color: #505050;
        }
    }
    &__code {
        margin-bottom: 4px;
        span {
            padding: 2px 4px;
            align-items: center;
            background: #f3f3f3;
            border: 1px solid #e7e7e7;
            border-radius: 4px;
            font-size: 12px;
        }
    }
    &__desc {
        li {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-wrap: wrap;
            &:not(:last-child) {
                margin-bottom: 4px;
            }
            span {
                @include font-config(14px, 400);
                @include text-spacing();
                color: #505050;
                margin-right: 4px;
            }
            p {
                @include font-config(14px, 700);
                @include text-spacing();
                color: #505050;
            }
        }
    }
    &__contact {
        display: flex;
        align-items: center;
        gap: 8px;
        svg {
            padding: 2px;
            border-radius: 999px;
            border: 1px solid $border-color;
        }
        span {
            @include font-config(14px, 400);
            @include text-spacing();
            color: red;
        }
        p {
            @include font-config(14px, 700);
            @include text-spacing();
            color: #66d080;
        }
    }
    .slick-list {
        margin: 0 -8px;
    }
    &__slide__item {
        margin: 0 8px;
    }
}

.c-product__slide {
    .slick-next {
        &::before {
            right: -16px;
        }
        &::after {
            right: -4px;
        }
    }
    .slick-prev {
        &::before {
            right: 36px;
        }
        &::after {
            right: 50px;
        }
    }
}
.m-product{
    @include flex;
    flex-wrap: wrap;
    margin: 2rem -10px;
    li{
        width: calc(33.3% - 20px);
        margin:10px;
        @include sp{
            width: calc(50% - 10px);
            margin:5px;
        }
        .img{
            width: 100%;
            height: 250px;
            position: relative;
            overflow: hidden;
            border-radius: 10px;
            @include sp{
                height: 160px;
            }
            img{
                position: absolute;
                object-fit: cover;
            }
        }
        h4{
            margin: 10px 0;
            @include truncate;
            font-size: 1.5rem;
        }
        a{
            text-decoration: none;
            color: rgb(16, 16, 16);
            &:hover{
                img{
                    transform: scale(1.03);
                }
            }
        }
    }
}