.c-tab {
    &_top{
        @include flex-jbetween;
        text-align: center;
        flex-wrap: wrap;
        margin-bottom: 2rem;
        button{
            width: 25%;
            padding: 1.5rem;
            font-weight: 300;
            font-size: 1.7rem;
            transition: 0.3 ease-in-out;
            border-radius: 0;
            border: 1px solid #2B2929;
            &.active, &:hover{
                background: #2B2929;
                color: white;
            }
            @include sp{
                width: 50%;
                font-size: 1.6rem;
            }
        }
    }
    &_content  {
        text-align: center;
        margin-bottom: 3rem;
        h2{
            font-weight: 700;
            font-size: 2.5rem;
            margin-bottom: 1rem;
        }
        p{
            text-align: left;
            margin-top: 0;
            margin-bottom: 1rem;
        }
        > img{
            max-width: 100%;
            width: 800px;
            margin: 2rem auto;
            text-align: center;
        }
    }
    &Cart{
        .c-tab_top{
            button{
                width: 33.3333333%;
            }
        }
        &_inner{
            @include flex-jbetween;
            margin-top: 4rem;
            @include sp{
                flex-wrap: wrap;
            }
            .m-cart{
                width: calc(70% - 35px);
                margin-right: 35px;
                @include sp{
                    width: 100%;
                    margin-right: 0;
                }
                > li{
                    width: 100%;
                }
            }
        }
    }
    table{
        margin: 0 0 1.5em;
        width: 100%;
        border-spacing: 0;
        border-width: 1px 0 0 1px;
        border: 1px solid rgba(0,0,0,.1);
        th, td {
            padding: 12px;
            font-weight: 400;
            text-align: left;
        }
        td {
            border-width: 0 1px 1px 0;
            font-weight: 400;
            text-align: left;
        }
        table, th, td {
            border: 1px solid rgba(0,0,0,.1);
        }
    }
}