.p-details {
    padding: 40px 0;
    border-bottom: 1px solid $border-color;
    &__inner {
        display: flex;
        // align-items:  center;
        justify-content: space-between;
        @include sp {
            flex-wrap: wrap;
        }
    }
    &__box {
        width: calc(50% - 8px);
        position: relative;
        @include sp {
            width: 100%;
        }
        &__slide {
            &__item {
                border: 1px solid $border-color;
                border-radius: 4px;
                overflow: hidden;
            }
        }
    }
    &__title {
        display: flex;
        align-items: center;
        margin-bottom: 16px;
        border-bottom: 1px solid;
        h3 {
            margin-right: 8px;
            font-size: 24px;
            font-weight: 600;
            line-height: 150%;
            letter-spacing: 0.01em;
            color: #101010;
        }
        span {
            font-size: 14px;
            font-weight: 400;
            line-height: 150%;
            letter-spacing: 0.01em;
            color: #101010;
        }
    }
    &__txt {
        font-size: 14px;
        font-weight: 700;
        line-height: 150%;
        letter-spacing: 0.01em;
        color: #505050;
        padding: 0 16px 16px 16px;
    }
    &__img {
        border: 1px solid $border-color;
        border-radius: 4px;
        overflow: hidden;
        height: 400px;
        position: absolute;
        bottom: 0;
        width: 100%;
        @include sp {
            height: 250px;
            position: unset;
        }
        img {
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
    }
}

// 
.img_producto_container {
    width: 100%;
    height: 600px;
    @include sp {
        height: 400px;
    }
    position: relative;
    overflow: hidden;
    cursor: zoom-in;
    border-radius: 8px;
    border: 1px solid $border-color;
    margin: 24px 0;
}
.img_producto {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    transition: transform 0.5s ease-out;
    cursor: zoom-in;
}
  
.zoom-img{
    &__product {
        position: relative;
    }
    &__content {
        position: absolute;
        bottom: 32%;
        left: -116px;
        background: #fff;
        text-align: right;
        padding: 16px;
        &.active {
            display: none;
        }
        @include sp {
            width: 100%;
            left: 0;
            bottom: 0;
            border: 1px solid $border-color;
        }
    }
    &__modal__header {
        display: flex;
        flex-direction: column-reverse;
        border-bottom: 1px solid $border-color;
        @include sp {
            flex-direction: unset;
            justify-content: space-between;
        }
        h4 {
            font-size: 18px;
            line-height: 150%;
            letter-spacing: 0.01em;
            color: #101010;
            text-transform: uppercase;
        }
    } 
    &__modal__btn {
        .gg-chevron-up {
            display: none;
        }
        &.active {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            .gg-chevron-up {
                display: block;
            }
            svg {
                display: none;
            }
        }
    }
    &__modal__body__box {
        margin-top: 16px;
        h3 {
            font-size: 10px;
            line-height: 150%;
            letter-spacing: 0.01em;
            color: #101010;
            text-transform: uppercase;
        }
        ul {
            li {
                font-size: 10px;
                font-weight: 700;
                line-height: 150%;
                letter-spacing: 0.01em;
                color: #505050;
                padding: 8px;
            }
        }
    }
}
.gg-chevron-up {
    box-sizing: border-box;
    position: relative;
    display: block;
    transform: scale(var(--ggs,1));
    width: 22px;
    height: 22px;
    border: 2px solid transparent;
    border-radius: 100px
   }
   
   .gg-chevron-up::after {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    width: 10px;
    height: 10px;
    border-top: 2px solid;
    border-right: 2px solid;
    transform: rotate(-45deg);
    left: 4px;
    bottom: 2px
   } 

//    
.title__custome {
    margin: 36px 0;
    border-bottom: 2px solid;
    span {
        font-size: 24px;
        font-weight: 700;
        line-height: 150%;
        letter-spacing: 0.006em;
        color: #1b1b1b;
    }
}
.slider-thumb {
    &__box {
        margin: 0 8px;
        position: relative;
        height: 250px !important;
        @include sp {
            height: 165px !important;
        }
        &.slick-current {
            background: cadetblue;
            padding: 10px 0;
            overflow: hidden;
            transition: all .2s;
        }
    }
    &__txt {
        position: absolute;
        bottom: 16px;
        width: 100%;
        text-align: center;
        h3 {
            font-size: 18px;
            font-weight: 700;
            line-height: 20px;
            letter-spacing: 0.03em;
            color: #1b1b1b;
        }
    }
}
.slider-content {
    margin-top: 30px;
    &__box {
        display: flex !important;
        align-items: center;
        justify-content: center;
        gap: 20px;
        @include sp {
            display: block !important;
        }
        img {
            width: 378px;
            border-radius: 4px;
            object-fit: cover;
            border: 1px solid $border-color;
            @include sp {
                width: 250px;
                margin: 0 auto;
            }
        }
        &__body {
            @include sp {
                text-align: center;
                margin-top: 14px;
            }
            h3 {
                font-size: 18px;
                font-weight: 700;
                line-height: 20px;
                letter-spacing: 0.03em;
                color: #1b1b1b;
                margin-bottom: 16px;
            }
            li {
                font-size: 16px;
                font-weight: 400;
                line-height: 150%;
                letter-spacing: 0.02em;
            }
        }
    }
    .slick-next, .slick-prev {
        display: none !important;
    } 
}

.name__details {
    text-align: center;
    padding: 40px 0;
    h3 {
        font-size: 28px;
        font-weight: 600;
        line-height: 150%;
        letter-spacing: 0.01em;
        color: #101010;
    }
    p {
        font-size: 14px;
        font-weight: 700;
        line-height: 150%;
        letter-spacing: 0.01em;
        color: #505050;
        margin-top: 8px;
    }
}

.edge {
    &__desc {
        text-align: center;
        margin: 24px 0;
    }
    &__list {
        display: flex;
        align-items: center;
        margin: 0 -8px;
        flex-wrap: wrap;
    }
    &__item {
        padding: 24px 8px;
        width: calc(100% / 4);
        @include sp {
            width: 50%;
        }
        h3 {
            text-align: center;
            margin-top: 24px;
        }
    }
}