/*------------------------------------------------------------
	Clearfix
------------------------------------------------------------*/
@mixin clear {
	*zoom: 1;
	&:after {
		display: block;
		content: "";
		clear: both;
	}
}

/*------------------------------------------------------------
	Font
------------------------------------------------------------*/
@mixin styleNormal() {
	font-family: 'Roboto', sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 1.5rem;
	line-height: 1.2;
}
@mixin styleDt() {
	font-family: 'Roboto', sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 2rem;
	line-height: 1.2;
}
/*------------------------------------------------------------
	Media
------------------------------------------------------------*/
@mixin max($point) {
    @media screen and (max-width: $point) {
        @content;
    }
}
@mixin min($point) {
    @media screen and (min-width: $point) {
        @content;
    }
}
@mixin sp {
	@media screen and (max-width: #{$breakpoint1}) {
		@content;
	}
}

/*------------------------------------------------------------
	Flex Box
------------------------------------------------------------*/
@mixin flex {
	display: flex;
	flex-wrap: wrap;
}
@mixin flex-center {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
}
@mixin flex-icenter {
	display: flex;
	align-items: center;
}
@mixin flex-jcenter {
	display: flex;
	justify-content: center;
}
@mixin flex-jbetween {
	display: flex;
	justify-content: space-between;
}
/*------------------------------------------------------------
	ttl
------------------------------------------------------------*/
@mixin ttl4 {
	font-weight: 300;
	font-size: 3.6rem;
	line-height: 1.3;
	margin-bottom: 3rem;
}
