.m-search
  .l-container
    p.ttl Tổng hợp bài viết của <br class="only-pc">  CARAS LENS
    .m-search_inner
      form
        input(type="text" placeholder="Bạn đang tìm kiếm" id="search")
        input(type="submit" class="search-submit" value="search")
      ul
        li.key KEYWORD
        li
          a(hrer="#") Full-time
        li
          a(hrer="#") Part-time
        li
          a(hrer="#") Nhân viên Bán hàng
        li
          a(hrer="#") Designer
        li
          a(hrer="#") Hà Nội
        li
          a(hrer="#") Hồ Chí Minh
.m-noti
  .l-container
    p Bạn đang “bị lạc đường” trong nguồn kiến thức của Caras? Bạn bị bối rối? Click chọn <br> các chủ đề bên dưới để tìm đúng bài viết bạn thực sự quan tâm!