.l-container
  .m-news
    .m-ttl
      h5.title Bài viết nổi bật
      h5.title.only-pc Bài viết mới nhất
    .m-news_inner
      .m-news_list
        include ../_modules/news_item
        include ../_modules/news_item
        include ../_modules/news_item
        include ../_modules/news_item
      .m-news_item_siderbar
        h5.title.only-sp Bài viết mới nhất
        include ../_modules/news_item_siderbar
        include ../_modules/news_item_siderbar
        include ../_modules/news_item_siderbar
        include ../_modules/news_item_siderbar
        include ../_modules/news_item_siderbar
        include ../_modules/news_item_siderbar