.btn_area
    a.btn_area__add(href='#')
        img.lazyload(src=path+"assets/images/note_add.svg" data-src=path+"assets/images/note_add.svg" alt='Logo' loading="lazy" width="16" height="20")
    a.btn_area__del(href='#')
        img.lazyload(src=path+"assets/images/addcart.svg" data-src=path+"assets/images/addcart.svg" alt='Logo' loading="lazy" width="22" height="22")