.c-product
    a(href="")
        .c-product__img  
            picture
                source(srcset='https://assetstools.cosentino.com/api/v1/bynder/color/BMT/detalle/BMT-thumb.jpg?w=300&h=300&q=80,format&fit=crop' type='image/avif')
                source(srcset='https://assetstools.cosentino.com/api/v1/bynder/color/BMT/detalle/BMT-thumb.jpg?w=300&h=300&q=80,format&fit=crop' type='image/webp')
                img(src='https://assetstools.cosentino.com/api/v1/bynder/color/BMT/detalle/BMT-thumb.jpg?w=300&h=300&q=80,format&fit=crop' data-src='https://assetstools.cosentino.com/api/v1/bynder/color/BMT/detalle/BMT-thumb.jpg?w=300&h=300&q=80,format&fit=crop' alt='carousel' width='100%' height='100%')
        .c-product__body 
            h3 Đá Blue Bahia Granite Đá Blue Bahia Granite Đá Blue Bahia Granite Đá Blue Bahia Granite Đá Blue Bahia Granite    
            p Loại: granite
            p Xuất xứ: idian