.c-product
    .c-product__item
        .c-product__img   
            img(src="https://dosi-in.com/file/detailed/37/Banner-1-2.jpg?w=1200&h=500&fit=crop&fm=webp", alt="")
        .c-product__body 
            a(href="" title="name") 
                h4 Đá Blue Bahia Granite Đá Blue Bahia Granite Đá Blue Bahia Granite Đá Blue Bahia Granite Đá Blue Bahia Granite    
            .c-product__code 
                span EBU12006 
            .c-product__desc
                ul 
                    li 
                        span Chủng loại:
                        p Đá Granite Màu Xanh (Blue)
                    li 
                        span Màu sắc:
                        p Brazil
                    li 
                        span Xuất xứ:
                        p Brazil
                    li 
                        span Kích thước:
                        p Khổ lớn, Khổ nhỏ
                    li 
                        span Độ dày:
                        p 2cm
            .c-product__contact
                span Liên hệ
                img(src="assets/images/contact.gif", alt="" width="50" height="50")
                p 0342.133.767
