.category 
    .div
        .category__item
            img(src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQj9Uio-qP40FpWhlD40Xhl_mAZaleNiJ8qPg&usqp=CAU", alt="")
            a(href="").category__box
                img(src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQj9Uio-qP40FpWhlD40Xhl_mAZaleNiJ8qPg&usqp=CAU", alt="" width="50" height="50")
                h3 Đá ốp mặt tiền Đá ốp mặt tiền  Đá ốp mặt tiền  Đá ốp mặt tiền  Đá ốp mặt tiền 
    .div    
        .category__item
            img(src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQj9Uio-qP40FpWhlD40Xhl_mAZaleNiJ8qPg&usqp=CAU", alt="")
            a(href="").category__box
                img(src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQj9Uio-qP40FpWhlD40Xhl_mAZaleNiJ8qPg&usqp=CAU", alt="" width="50" height="50")
                h3 Đá ốp mặt tiền Đá ốp mặt tiền  Đá ốp mặt tiền  Đá ốp mặt tiền  Đá ốp mặt tiền
    .div    
        .category__item
            img(src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQj9Uio-qP40FpWhlD40Xhl_mAZaleNiJ8qPg&usqp=CAU", alt="")
            a(href="").category__box
                img(src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQj9Uio-qP40FpWhlD40Xhl_mAZaleNiJ8qPg&usqp=CAU", alt="" width="50" height="50")
                h3 Đá ốp mặt tiền Đá ốp mặt tiền  Đá ốp mặt tiền  Đá ốp mặt tiền  Đá ốp mặt tiền
    .div    
        .category__item
            img(src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQj9Uio-qP40FpWhlD40Xhl_mAZaleNiJ8qPg&usqp=CAU", alt="")
            a(href="").category__box
                img(src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQj9Uio-qP40FpWhlD40Xhl_mAZaleNiJ8qPg&usqp=CAU", alt="" width="50" height="50")
                h3 Đá ốp mặt tiền Đá ốp mặt tiền  Đá ốp mặt tiền  Đá ốp mặt tiền  Đá ốp mặt tiền
    .div    
        .category__item
            img(src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQj9Uio-qP40FpWhlD40Xhl_mAZaleNiJ8qPg&usqp=CAU", alt="")
            a(href="").category__box
                img(src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQj9Uio-qP40FpWhlD40Xhl_mAZaleNiJ8qPg&usqp=CAU", alt="" width="50" height="50")
                h3 Đá ốp mặt tiền Đá ốp mặt tiền  Đá ốp mặt tiền  Đá ốp mặt tiền  Đá ốp mặt tiền
    .div    
        .category__item
            img(src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQj9Uio-qP40FpWhlD40Xhl_mAZaleNiJ8qPg&usqp=CAU", alt="")
            a(href="").category__box
                img(src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQj9Uio-qP40FpWhlD40Xhl_mAZaleNiJ8qPg&usqp=CAU", alt="" width="50" height="50")
                h3 Đá ốp mặt tiền Đá ốp mặt tiền  Đá ốp mặt tiền  Đá ốp mặt tiền  Đá ốp mặt tiền
        