.m-category__wrapper
    .m-category__list 
        .m-category__item
            .m-category__box
                a(href="" title="hạng mục")
                    picture
                        source(srcset='https://sieuthida.vn/wp-content/uploads/2020/06/da-lat-nen.jpg' type='image/avif')
                        source(srcset='https://sieuthida.vn/wp-content/uploads/2020/06/da-lat-nen.jpg' type='image/webp')
                        img(src='https://sieuthida.vn/wp-content/uploads/2020/06/da-lat-nen.jpg' data-src='https://sieuthida.vn/wp-content/uploads/2020/06/da-lat-nen.jpg' alt='carousel' width='100%' height='100%') 
                    .m-category__txt 
                        h3 ĐÁ LÁT NỀN
        .m-category__item
            .m-category__box
                a(href="" title="hạng mục")
                    picture
                        source(srcset='https://sieuthida.vn/wp-content/uploads/2020/06/da-lat-nen.jpg' type='image/avif')
                        source(srcset='https://sieuthida.vn/wp-content/uploads/2020/06/da-lat-nen.jpg' type='image/webp')
                        img(src='https://sieuthida.vn/wp-content/uploads/2020/06/da-lat-nen.jpg' data-src='https://sieuthida.vn/wp-content/uploads/2020/06/da-lat-nen.jpg' alt='carousel' width='100%' height='100%') 
                    .m-category__txt 
                        h3 ĐÁ LÁT NỀN

        .m-category__item
            .m-category__box
                a(href="" title="hạng mục")
                    picture
                        source(srcset='https://sieuthida.vn/wp-content/uploads/2020/06/da-lat-nen.jpg' type='image/avif')
                        source(srcset='https://sieuthida.vn/wp-content/uploads/2020/06/da-lat-nen.jpg' type='image/webp')
                        img(src='https://sieuthida.vn/wp-content/uploads/2020/06/da-lat-nen.jpg' data-src='https://sieuthida.vn/wp-content/uploads/2020/06/da-lat-nen.jpg' alt='carousel' width='100%' height='100%') 
                    .m-category__txt 
                        h3 ĐÁ LÁT NỀN

        .m-category__item
            .m-category__box
                a(href="" title="hạng mục")
                    picture
                        source(srcset='https://sieuthida.vn/wp-content/uploads/2020/06/da-lat-nen.jpg' type='image/avif')
                        source(srcset='https://sieuthida.vn/wp-content/uploads/2020/06/da-lat-nen.jpg' type='image/webp')
                        img(src='https://sieuthida.vn/wp-content/uploads/2020/06/da-lat-nen.jpg' data-src='https://sieuthida.vn/wp-content/uploads/2020/06/da-lat-nen.jpg' alt='carousel' width='100%' height='100%') 
                    .m-category__txt 
                        h3 ĐÁ LÁT NỀN

        .m-category__item
            .m-category__box
                a(href="" title="hạng mục")
                    picture
                        source(srcset='https://sieuthida.vn/wp-content/uploads/2020/06/da-lat-nen.jpg' type='image/avif')
                        source(srcset='https://sieuthida.vn/wp-content/uploads/2020/06/da-lat-nen.jpg' type='image/webp')
                        img(src='https://sieuthida.vn/wp-content/uploads/2020/06/da-lat-nen.jpg' data-src='https://sieuthida.vn/wp-content/uploads/2020/06/da-lat-nen.jpg' alt='carousel' width='100%' height='100%') 
                    .m-category__txt 
                        h3 ĐÁ LÁT NỀN
