.category 
    .div
        .category__item
            img(src="https://chus.dosi-in.com/images/thumbnails/500/500/detailed/86/1647352502_10313-07-f1.jpg.webp", alt="")
            a(href="").category__box
                img(src="https://chus.dosi-in.com/images/thumbnails/500/500/detailed/86/1647352502_10313-07-f1.jpg.webp", alt="" width="50" height="50")
                h3 Đá ốp mặt tiền Đá ốp mặt tiền  Đá ốp mặt tiền  Đá ốp mặt tiền  Đá ốp mặt tiền 
    .div    
        .category__item
            img(src="https://chus.dosi-in.com/images/thumbnails/500/500/detailed/86/1647352502_10313-07-f1.jpg.webp", alt="")
            a(href="").category__box
                img(src="https://chus.dosi-in.com/images/thumbnails/500/500/detailed/86/1647352502_10313-07-f1.jpg.webp", alt="" width="50" height="50")
                h3 Đá ốp mặt tiền Đá ốp mặt tiền  Đá ốp mặt tiền  Đá ốp mặt tiền  Đá ốp mặt tiền
    .div    
        .category__item
            img(src="https://chus.dosi-in.com/images/thumbnails/500/500/detailed/86/1647352502_10313-07-f1.jpg.webp", alt="")
            a(href="").category__box
                img(src="https://chus.dosi-in.com/images/thumbnails/500/500/detailed/86/1647352502_10313-07-f1.jpg.webp", alt="" width="50" height="50")
                h3 Đá ốp mặt tiền Đá ốp mặt tiền  Đá ốp mặt tiền  Đá ốp mặt tiền  Đá ốp mặt tiền
    .div    
        .category__item
            img(src="https://chus.dosi-in.com/images/thumbnails/500/500/detailed/86/1647352502_10313-07-f1.jpg.webp", alt="")
            a(href="").category__box
                img(src="https://chus.dosi-in.com/images/thumbnails/500/500/detailed/86/1647352502_10313-07-f1.jpg.webp", alt="" width="50" height="50")
                h3 Đá ốp mặt tiền Đá ốp mặt tiền  Đá ốp mặt tiền  Đá ốp mặt tiền  Đá ốp mặt tiền
    .div    
        .category__item
            img(src="https://chus.dosi-in.com/images/thumbnails/500/500/detailed/86/1647352502_10313-07-f1.jpg.webp", alt="")
            a(href="").category__box
                img(src="https://chus.dosi-in.com/images/thumbnails/500/500/detailed/86/1647352502_10313-07-f1.jpg.webp", alt="" width="50" height="50")
                h3 Đá ốp mặt tiền Đá ốp mặt tiền  Đá ốp mặt tiền  Đá ốp mặt tiền  Đá ốp mặt tiền
    .div    
        .category__item
            img(src="https://chus.dosi-in.com/images/thumbnails/500/500/detailed/86/1647352502_10313-07-f1.jpg.webp", alt="")
            a(href="").category__box
                img(src="https://chus.dosi-in.com/images/thumbnails/500/500/detailed/86/1647352502_10313-07-f1.jpg.webp", alt="" width="50" height="50")
                h3 Đá ốp mặt tiền Đá ốp mặt tiền  Đá ốp mặt tiền  Đá ốp mặt tiền  Đá ốp mặt tiền
        