.m_category 
    .div
        .m_category__item
            picture
                source(srcset='https://chus.dosi-in.com/images/thumbnails/147/147/detailed/103/bag-accessories.png.webp' type='image/avif')
                source(srcset='https://chus.dosi-in.com/images/thumbnails/147/147/detailed/103/bag-accessories.png.webp' type='image/webp')
                img(src='https://chus.dosi-in.com/images/thumbnails/147/147/detailed/103/bag-accessories.png.webp' data-src='https://chus.dosi-in.com/images/thumbnails/147/147/detailed/103/bag-accessories.png.webp' alt='carousel' width='100%' height='100%')
            //- img(src="https://chus.dosi-in.com/images/thumbnails/147/147/detailed/103/bag-accessories.png.webp", alt="")
            a(href="").m_category__box
                picture
                    source(srcset='https://chus.dosi-in.com/images/thumbnails/147/147/detailed/103/bag-accessories.png.webp' type='image/avif')
                    source(srcset='https://chus.dosi-in.com/images/thumbnails/147/147/detailed/103/bag-accessories.png.webp' type='image/webp')
                    img(src='https://chus.dosi-in.com/images/thumbnails/147/147/detailed/103/bag-accessories.png.webp' data-src='https://chus.dosi-in.com/images/thumbnails/147/147/detailed/103/bag-accessories.png.webp' alt='carousel' width='100%' height='100%')
                //- img(src="https://chus.dosi-in.com/images/thumbnails/500/500/detailed/86/1647352502_10313-07-f1.jpg.webp", alt="" width="50" height="50")
                h3 Đá ốp mặt tiền Đá ốp mặt tiền  Đá ốp mặt tiền  Đá ốp mặt tiền  Đá ốp mặt tiền 
    .div
        .m_category__item
            picture
                source(srcset='https://chus.dosi-in.com/images/thumbnails/147/147/detailed/103/Category=12._Gift_Collections.png.webp' type='image/avif')
                source(srcset='https://chus.dosi-in.com/images/thumbnails/147/147/detailed/103/Category=12._Gift_Collections.png.webp' type='image/webp')
                img(src='https://chus.dosi-in.com/images/thumbnails/147/147/detailed/103/Category=12._Gift_Collections.png.webp' data-src='https://chus.dosi-in.com/images/thumbnails/147/147/detailed/103/Category=12._Gift_Collections.png.webp' alt='carousel' width='100%' height='100%')
            //- img(src="https://chus.dosi-in.com/images/thumbnails/147/147/detailed/103/bag-accessories.png.webp", alt="")
            a(href="").m_category__box
                picture
                    source(srcset='https://chus.dosi-in.com/images/thumbnails/147/147/detailed/103/Category=12._Gift_Collections.png.webp' type='image/avif')
                    source(srcset='https://chus.dosi-in.com/images/thumbnails/147/147/detailed/103/Category=12._Gift_Collections.png.webp' type='image/webp')
                    img(src='https://chus.dosi-in.com/images/thumbnails/147/147/detailed/103/Category=12._Gift_Collections.png.webp' data-src='https://chus.dosi-in.com/images/thumbnails/147/147/detailed/103/Category=12._Gift_Collections.png.webp' alt='carousel' width='100%' height='100%')
                //- img(src="https://chus.dosi-in.com/images/thumbnails/500/500/detailed/86/1647352502_10313-07-f1.jpg.webp", alt="" width="50" height="50")
                h3 Đá ốp mặt tiền Đá ốp mặt tiền  Đá ốp mặt tiền  Đá ốp mặt tiền  Đá ốp mặt tiền 
    