ol
  li
    a(href="#")
      picture
        source(srcset='https://sieuthida.vn/wp-content/uploads/2020/06/da-lat-nen.jpg' type='image/avif')
        source(srcset='https://sieuthida.vn/wp-content/uploads/2020/06/da-lat-nen.jpg' type='image/webp')
        img(src='https://sieuthida.vn/wp-content/uploads/2020/06/da-lat-nen.jpg' data-src='https://sieuthida.vn/wp-content/uploads/2020/06/da-lat-nen.jpg' alt='carousel' width='100%' height='100%') 
      h3 ĐÁ LÁT NỀN
  li
    a(href="#")
      picture
        source(srcset='https://sieuthida.vn/wp-content/uploads/2020/06/da-lat-nen.jpg' type='image/avif')
        source(srcset='https://sieuthida.vn/wp-content/uploads/2020/06/da-lat-nen.jpg' type='image/webp')
        img(src='https://sieuthida.vn/wp-content/uploads/2020/06/da-lat-nen.jpg' data-src='https://sieuthida.vn/wp-content/uploads/2020/06/da-lat-nen.jpg' alt='carousel' width='100%' height='100%') 
      h3 ĐÁ LÁT NỀN
  li
    a(href="#")
      picture
        source(srcset='https://sieuthida.vn/wp-content/uploads/2020/06/da-lat-nen.jpg' type='image/avif')
        source(srcset='https://sieuthida.vn/wp-content/uploads/2020/06/da-lat-nen.jpg' type='image/webp')
        img(src='https://sieuthida.vn/wp-content/uploads/2020/06/da-lat-nen.jpg' data-src='https://sieuthida.vn/wp-content/uploads/2020/06/da-lat-nen.jpg' alt='carousel' width='100%' height='100%') 
      h3 ĐÁ LÁT NỀN
  li 
    a(href="#")
      picture
        source(srcset='https://sieuthida.vn/wp-content/uploads/2020/06/da-lat-nen.jpg' type='image/avif')
        source(srcset='https://sieuthida.vn/wp-content/uploads/2020/06/da-lat-nen.jpg' type='image/webp')
        img(src='https://sieuthida.vn/wp-content/uploads/2020/06/da-lat-nen.jpg' data-src='https://sieuthida.vn/wp-content/uploads/2020/06/da-lat-nen.jpg' alt='carousel' width='100%' height='100%') 
      h3 ĐÁ LÁT NỀN  
  li
    a(href="#")
      picture
        source(srcset='https://sieuthida.vn/wp-content/uploads/2020/06/da-lat-nen.jpg' type='image/avif')
        source(srcset='https://sieuthida.vn/wp-content/uploads/2020/06/da-lat-nen.jpg' type='image/webp')
        img(src='https://sieuthida.vn/wp-content/uploads/2020/06/da-lat-nen.jpg' data-src='https://sieuthida.vn/wp-content/uploads/2020/06/da-lat-nen.jpg' alt='carousel' width='100%' height='100%') 
      h3 ĐÁ LÁT NỀN  
  li
    a(href="#")
      picture
        source(srcset='https://sieuthida.vn/wp-content/uploads/2020/06/da-lat-nen.jpg' type='image/avif')
        source(srcset='https://sieuthida.vn/wp-content/uploads/2020/06/da-lat-nen.jpg' type='image/webp')
        img(src='https://sieuthida.vn/wp-content/uploads/2020/06/da-lat-nen.jpg' data-src='https://sieuthida.vn/wp-content/uploads/2020/06/da-lat-nen.jpg' alt='carousel' width='100%' height='100%') 
      h3 ĐÁ LÁT NỀN                    