.category 
    .category__item
        img(src="https://dosi-in.com/file/detailed/58/dosiin-dossin-0858335.jpg?w=1200&h=500&fm=webp", alt="")
        a(href="").category__box
            img(src="https://dosi-in.com/file/detailed/58/dosiin-dossin-0858335.jpg?w=1200&h=500&fm=webp", alt="" width="50" height="50")
            h3 Đá ốp mặt tiền Đá ốp mặt tiền  Đá ốp mặt tiền  Đá ốp mặt tiền  Đá ốp mặt tiền 
    .category__item
        img(src="https://dosi-in.com/file/detailed/58/dosiin-dossin-0858335.jpg?w=1200&h=500&fm=webp", alt="")
        a(href="").category__box
            img(src="https://dosi-in.com/file/detailed/58/dosiin-dossin-0858335.jpg?w=1200&h=500&fm=webp", alt="" width="50" height="50")
            h3 Đá ốp mặt tiền 
    .category__item
        img(src="https://dosi-in.com/file/detailed/58/dosiin-dossin-0858335.jpg?w=1200&h=500&fm=webp", alt="")
        a(href="").category__box
            img(src="https://dosi-in.com/file/detailed/58/dosiin-dossin-0858335.jpg?w=1200&h=500&fm=webp", alt="" width="50" height="50")
            h3 Đá ốp mặt tiền 
    .category__item
        img(src="https://dosi-in.com/file/detailed/58/dosiin-dossin-0858335.jpg?w=1200&h=500&fm=webp", alt="")
        .category__box
            img(src="https://dosi-in.com/file/detailed/58/dosiin-dossin-0858335.jpg?w=1200&h=500&fm=webp", alt="" width="50" height="50")
            h3 Đá ốp mặt tiền 
    .category__item
        img(src="https://dosi-in.com/file/detailed/58/dosiin-dossin-0858335.jpg?w=1200&h=500&fm=webp", alt="")
        a(href="").category__box
            img(src="https://dosi-in.com/file/detailed/58/dosiin-dossin-0858335.jpg?w=1200&h=500&fm=webp", alt="" width="50" height="50")
            h3 Đá ốp mặt tiền 
    .category__item
        img(src="https://dosi-in.com/file/detailed/58/dosiin-dossin-0858335.jpg?w=1200&h=500&fm=webp", alt="")
        a(href="").category__box
            img(src="https://dosi-in.com/file/detailed/58/dosiin-dossin-0858335.jpg?w=1200&h=500&fm=webp", alt="" width="50" height="50")
            h3 Đá ốp mặt tiền 
