.c-experience
  h4 NHỮNG CON SỐ BIẾT NÓI VÀ TRẢI NGHIỆM MUA SẮM
  .c-experience__inner
    .image
      picture
         source(srcset=path+"assets/images/experience.avif" type="image/avif")
         source(srcset=path+"assets/images/experience.webp" type="image/webp")
         img.lazyload(src=path+"assets/images/experience.png" data-src=path+"assets/images/experience.png" alt='NHỮNG CON SỐ BIẾT NÓI VÀ TRẢI NGHIỆM MUA SẮM' loading="lazy" width="552" height="462")
    ul
      li
        h5 Hơn 30.000 khách hàng mỗi năm
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
      li
        h5 7 năm kinh nghiệm
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
      li
        h5 Hơn 50 mẫu mã lựa chọn
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.


