.footer-sub 
    .footer-sub__list 
        .footer-sub__item 
            .footer-sub__box
                h3 Silestone
                ul 
                    li
                        a(href="#") What is Silestone
                    li
                        a(href="#") Maintenance
                    li
                        a(href="#") Warranty
                    li
                        a(href="#") Products
              
        .footer-sub__item 
            .footer-sub__box
                h3 Dekton
                ul 
                    li
                        a(href="#") What is Dekton
                    li
                        a(href="#") Maintenance
                    li
                        a(href="#") Warranty
                    li
                        a(href="#") Products
                   
        .footer-sub__item 
            .footer-sub__box
                h3 Sensa
                ul 
                    li
                        a(href="#") What is Sensa
                    li
                        a(href="#") Maintenance
                    li
                        a(href="#") Warranty
                    li
                        a(href="#") Products
                  
        .footer-sub__item 
            .footer-sub__box
                h3 Scalea
                ul 
                    li
                        a(href="#") What is Scalea
                    li
                        a(href="#") Maintenance
                    li
                        a(href="#") Products
                  
        .footer-sub__item 
            .footer-sub__box
                h3 Applications
                ul 
                    li
                        a(href="#") Facades
                    li
                        a(href="#") Flooring and paving
                    li
                        a(href="#") Flooring and paving
                    li
                        a(href="#") Coating
                    li
                        a(href="#") Kitchens
                    li
                        a(href="#") Bathrooms
        .footer-sub__item 
            .footer-sub__box
                h3 Spaces
                ul 
                    li
                        a(href="#") Bathrooms
                    li
                        a(href="#") Livings rooms
                    li
                        a(href="#") Kitchens    
                    li
                        a(href="#") Furniture
                    li
                        a(href="#") Exteriors
                   
        .footer-sub__item 
            .footer-sub__box
                h3 Digital Tools
                ul 
                    li
                        a(href="#") Online Visualizer
                    li
                        a(href="#") 3d-kitchen
                    li
                        a(href="#") Moodboards
                  
        .footer-sub__item 
            .footer-sub__box
                h3 Inspiration
                ul 
                    li
                        a(href="#") What is Silestone
                    li
                        a(href="#") What is Silestone
                    li
                        a(href="#") What is Silestone
                    li
                        a(href="#") What is Silestone What is Silestone What is Silestone 
                    li
                        a(href="#") What is Silestone
                    li
                        a(href="#") What is Silestone What is Silestone  What is Silestone 

                