li
    a(href)
        .m-new__img
            picture
                source(srcset=path+"assets/images/item-new.avif" type="image/avif")
                source(srcset=path+"assets/images/item-new.webp" type="image/webp")
                img.lazyload(src=path+"assets/images/item-new.jpg" data-src=path+"assets/images/item-new.jpg" alt='item new' loading="lazy" width="437" height="278")
        .m-new__content
            h3.strong Hướng dẫn các bước skincare từ cơ bản tới nâng cao
            include date
            p Đối với các tín đồ làm đẹp, chắc hẳn thuật ngữ skincare đã dần trở nên quen thuộc và Đối với các tín đồ làm đẹp, chắc hẳn thuật ngữ skincare đã dần trở nên quen thuộc và...