extends _layout/default

block vars
  -title        = 'Top'
  -description  = ''
  -keywords     = ''
  -pageID       = 'top'
  -path         = ''
  -ispage       = 'category'


block container
  include _modules/block_search
  include _modules/block_category_list
  include _modules/block_news


