extends _layout/default

block vars
  -title        = 'Top'
  -description  = ''
  -keywords     = ''
  -pageID       = 'top'
  -path         = ''
block before_page
    link(rel="preload" as="style" type='text/css' href='//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css' onload="this.onload=null;this.rel='stylesheet'")
    noscript
      link( rel="stylesheet" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css")
block after_page
    script(type='text/javascript' src='//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js')
    script.
        
block container
    section 
        .d-category__details
          picture
              source(srcset='https://chus.dosi-in.com/images/promo/8/4000x1333_Web_Viehi.jpeg' type='image/avif')
              source(srcset='https://chus.dosi-in.com/images/promo/8/4000x1333_Web_Viehi.jpeg' type='image/webp')
              img(src='https://chus.dosi-in.com/images/promo/8/4000x1333_Web_Viehi.jpeg' data-src='https://chus.dosi-in.com/images/promo/8/4000x1333_Web_Viehi.jpeg' alt='carousel' width='1512' height='600')
          .d-category__title-main
            h1 Kitchen Countertops 
            p Connecting the kitchen and living room
    .l-container
      //- 
      section.section-pd-block
        .d-category__intro
          .d-category__intro__item 
            h2 Reinventing the kitchen to make it the heart of the home
          .d-category__intro__item 
            p The kitchen is no longer an afterthought in the home. it is now an important space that can integrate with the living-dining room and share the same design. In this so-called “reconversion” process, the island plays a major role, as it serves as a connecting element between the two environments as well as a meeting place in the home. In this project, the interior designer built the entire design around the island.
      //- 
      section.section-pd-block
        .details__room
          .heading__primary(style='justify-content: flex-start;')
            h2 Cosentino: Bề mặt và sản phẩm cho nhà bếp của bạn
          .details__room__list 
            .details__room__item 
              .filter__product
                .filter__product__item 
                    .c-product
                        .c-product__item
                            .c-product__img
                                a(href='')
                                  picture
                                    source(srcset='https://chus.dosi-in.com/images/thumbnails/500/500/detailed/86/1647352502_10313-07-f1.jpg.webp' type='image/avif')
                                    source(srcset='https://chus.dosi-in.com/images/thumbnails/500/500/detailed/86/1647352502_10313-07-f1.jpg.webp' type='image/webp')
                                    img(src='https://chus.dosi-in.com/images/thumbnails/500/500/detailed/86/1647352502_10313-07-f1.jpg.webp' data-src='https://chus.dosi-in.com/images/thumbnails/500/500/detailed/86/1647352502_10313-07-f1.jpg.webp' alt='carousel' width='1512' height='600')
                                    //- img(src='https://chus.dosi-in.com/images/thumbnails/500/500/detailed/86/1647352502_10313-07-f1.jpg.webp' alt='')
                            .c-product__body
                                a(href='' title='name')
                                    h4
                                        |Kitchen Countertops
                                //- .c-product__code
                                //-     span EBU12006 
                .filter__product__item 
                    .c-product
                        .c-product__item
                            .c-product__img
                                a(href='')
                                  picture
                                    source(srcset='https://chus.dosi-in.com/images/thumbnails/500/500/detailed/86/1647352502_10313-07-f1.jpg.webp' type='image/avif')
                                    source(srcset='https://chus.dosi-in.com/images/thumbnails/500/500/detailed/86/1647352502_10313-07-f1.jpg.webp' type='image/webp')
                                    img(src='https://chus.dosi-in.com/images/thumbnails/500/500/detailed/86/1647352502_10313-07-f1.jpg.webp' data-src='https://chus.dosi-in.com/images/thumbnails/500/500/detailed/86/1647352502_10313-07-f1.jpg.webp' alt='carousel' width='1512' height='600')
                                    //- img(src='https://chus.dosi-in.com/images/thumbnails/500/500/detailed/86/1647352502_10313-07-f1.jpg.webp' alt='')
                            .c-product__body
                                a(href='' title='name')
                                    h4
                                        | Kitchen Sink
                                //- .c-product__code
                                //-     span EBU12006 
                .filter__product__item 
                    .c-product
                        .c-product__item
                            .c-product__img
                                a(href='')
                                  picture
                                    source(srcset='https://chus.dosi-in.com/images/thumbnails/500/500/detailed/86/1647352502_10313-07-f1.jpg.webp' type='image/avif')
                                    source(srcset='https://chus.dosi-in.com/images/thumbnails/500/500/detailed/86/1647352502_10313-07-f1.jpg.webp' type='image/webp')
                                    img(src='https://chus.dosi-in.com/images/thumbnails/500/500/detailed/86/1647352502_10313-07-f1.jpg.webp' data-src='https://chus.dosi-in.com/images/thumbnails/500/500/detailed/86/1647352502_10313-07-f1.jpg.webp' alt='carousel' width='1512' height='600')
                                    //- img(src='https://chus.dosi-in.com/images/thumbnails/500/500/detailed/86/1647352502_10313-07-f1.jpg.webp' alt='')
                            .c-product__body
                                a(href='' title='name')
                                    h4
                                        | Kitchen Remodels
                                //- .c-product__code
                                //-     span EBU12006 
                .filter__product__item 
                    .c-product
                        .c-product__item
                            .c-product__img
                                a(href='')
                                  picture
                                    source(srcset='https://chus.dosi-in.com/images/thumbnails/500/500/detailed/86/1647352502_10313-07-f1.jpg.webp' type='image/avif')
                                    source(srcset='https://chus.dosi-in.com/images/thumbnails/500/500/detailed/86/1647352502_10313-07-f1.jpg.webp' type='image/webp')
                                    img(src='https://chus.dosi-in.com/images/thumbnails/500/500/detailed/86/1647352502_10313-07-f1.jpg.webp' data-src='https://chus.dosi-in.com/images/thumbnails/500/500/detailed/86/1647352502_10313-07-f1.jpg.webp' alt='carousel' width='1512' height='600')
                                    //- img(src='https://chus.dosi-in.com/images/thumbnails/500/500/detailed/86/1647352502_10313-07-f1.jpg.webp' alt='')
                            .c-product__body
                                a(href='' title='name')
                                    h4
                                        |Kitchen Countertops
                                //- .c-product__code
                                //-     span EBU12006 
                .filter__product__item 
                    .c-product
                        .c-product__item
                            .c-product__img
                                a(href='')
                                  picture
                                    source(srcset='https://chus.dosi-in.com/images/thumbnails/500/500/detailed/86/1647352502_10313-07-f1.jpg.webp' type='image/avif')
                                    source(srcset='https://chus.dosi-in.com/images/thumbnails/500/500/detailed/86/1647352502_10313-07-f1.jpg.webp' type='image/webp')
                                    img(src='https://chus.dosi-in.com/images/thumbnails/500/500/detailed/86/1647352502_10313-07-f1.jpg.webp' data-src='https://chus.dosi-in.com/images/thumbnails/500/500/detailed/86/1647352502_10313-07-f1.jpg.webp' alt='carousel' width='1512' height='600')
                                    //- img(src='https://chus.dosi-in.com/images/thumbnails/500/500/detailed/86/1647352502_10313-07-f1.jpg.webp' alt='')
                            .c-product__body
                                a(href='' title='name')
                                    h4
                                        |Kitchen Countertops
                                //- .c-product__code
                                //-     span EBU12006 

      //- 
      section.section-pd-block 
        .d-category__cta
          .d-category__cta__item
            picture
              source(srcset='https://cdn-com.cosentino.com/wp-content/uploads/2021/02/cta-locator-img-black.jpg.webp' type='image/avif')
              source(srcset='https://cdn-com.cosentino.com/wp-content/uploads/2021/02/cta-locator-img-black.jpg.webp' type='image/webp')
              img(src='https://cdn-com.cosentino.com/wp-content/uploads/2021/02/cta-locator-img-black.jpg.webp' data-src='https://cdn-com.cosentino.com/wp-content/uploads/2021/02/cta-locator-img-black.jpg.webp' alt='carousel' width='' height='')
          .d-category__cta__item
            .d-category__cta__item-txt
              h3 Are you interested in a renovation?
              p We’re here to help! Select from our network of certified professionals and they will be in touch to advise and give you personalized quotes.
              .d-category__cta-link
                a(href="") Request a quote

      //- 
      section.section-pd-block 
        .heading__primary(style='justify-content: flex-start;')
            h2 Nhãn hiệu của chúng tôi
        .related__posts__list
          .related__posts__item 
              a(href="")
                  picture
                      source(srcset='https://chus.dosi-in.com/images/thumbnails/500/500/detailed/53/1647352329_10204-01-f2.jpg.webp' type='image/avif')
                      source(srcset='https://chus.dosi-in.com/images/thumbnails/500/500/detailed/53/1647352329_10204-01-f2.jpg.webp' type='image/webp')
                      img(src='https://chus.dosi-in.com/images/thumbnails/500/500/detailed/53/1647352329_10204-01-f2.jpg.webp' data-src='https://chus.dosi-in.com/images/thumbnails/500/500/detailed/53/1647352329_10204-01-f2.jpg.webp' alt='carousel' width='' height='')
                  
                  //- h3  GIẢ LẬP KHÔNG GIAN
                  .brand__avatar 
                    picture
                      source(srcset='https://cdn-com.cosentino.com/wp-content/uploads/2021/05/logo-silestone-web-crop.svg' type='image/avif')
                      source(srcset='https://cdn-com.cosentino.com/wp-content/uploads/2021/05/logo-silestone-web-crop.svg' type='image/webp')
                    img(src='https://cdn-com.cosentino.com/wp-content/uploads/2021/05/logo-silestone-web-crop.svg' data-src='https://cdn-com.cosentino.com/wp-content/uploads/2021/05/logo-silestone-web-crop.svg' alt='carousel' width='' height='')
                  p Khám phá những ưu điểm nổi bật của sản phẩm đá thạch anh Vicostone để hiểu được lí do chúng tôi là sự lựa chọn tuyệt với nhất cho căn nhà của bạn
              a.see-more(href="") More info
          .related__posts__item 
              a(href="")
                  picture
                      source(srcset='https://chus.dosi-in.com/images/thumbnails/500/500/detailed/53/1647352329_10204-01-f2.jpg.webp' type='image/avif')
                      source(srcset='https://chus.dosi-in.com/images/thumbnails/500/500/detailed/53/1647352329_10204-01-f2.jpg.webp' type='image/webp')
                      img(src='https://chus.dosi-in.com/images/thumbnails/500/500/detailed/53/1647352329_10204-01-f2.jpg.webp' data-src='https://chus.dosi-in.com/images/thumbnails/500/500/detailed/53/1647352329_10204-01-f2.jpg.webp' alt='carousel' width='' height='')
                  
                  //- h3  GIẢ LẬP KHÔNG GIAN
                  .brand__avatar 
                    picture
                      source(srcset='https://cdn-com.cosentino.com/wp-content/uploads/2020/11/A_MGFjZjlkZDY2YjhlM2JmORRmAlI_srReFGuZrubC7bvUA3UBRuD7_BevbcdM0eQjl3o3B41IXqDVPaLsg1s-1gIoSTd0l5HI5Pxc_mzDWMOD8fiPdGZQU1OaxlUR_bNk.svg' type='image/avif')
                      source(srcset='https://cdn-com.cosentino.com/wp-content/uploads/2020/11/A_MGFjZjlkZDY2YjhlM2JmORRmAlI_srReFGuZrubC7bvUA3UBRuD7_BevbcdM0eQjl3o3B41IXqDVPaLsg1s-1gIoSTd0l5HI5Pxc_mzDWMOD8fiPdGZQU1OaxlUR_bNk.svg' type='image/webp')
                    img(src='https://cdn-com.cosentino.com/wp-content/uploads/2020/11/A_MGFjZjlkZDY2YjhlM2JmORRmAlI_srReFGuZrubC7bvUA3UBRuD7_BevbcdM0eQjl3o3B41IXqDVPaLsg1s-1gIoSTd0l5HI5Pxc_mzDWMOD8fiPdGZQU1OaxlUR_bNk.svg' data-src='https://cdn-com.cosentino.com/wp-content/uploads/2020/11/A_MGFjZjlkZDY2YjhlM2JmORRmAlI_srReFGuZrubC7bvUA3UBRuD7_BevbcdM0eQjl3o3B41IXqDVPaLsg1s-1gIoSTd0l5HI5Pxc_mzDWMOD8fiPdGZQU1OaxlUR_bNk.svg' alt='carousel' width='' height='')
                  p Khám phá những ưu điểm nổi bật của sản phẩm đá thạch anh Vicostone để hiểu được lí do chúng tôi là sự lựa chọn tuyệt với nhất cho căn nhà của bạn
              a.see-more(href="") More info
          .related__posts__item 
              a(href="")
                  picture
                      source(srcset='https://chus.dosi-in.com/images/thumbnails/500/500/detailed/53/1647352329_10204-01-f2.jpg.webp' type='image/avif')
                      source(srcset='https://chus.dosi-in.com/images/thumbnails/500/500/detailed/53/1647352329_10204-01-f2.jpg.webp' type='image/webp')
                      img(src='https://chus.dosi-in.com/images/thumbnails/500/500/detailed/53/1647352329_10204-01-f2.jpg.webp' data-src='https://chus.dosi-in.com/images/thumbnails/500/500/detailed/53/1647352329_10204-01-f2.jpg.webp' alt='carousel' width='' height='')
                  
                  //- h3  GIẢ LẬP KHÔNG GIAN
                  .brand__avatar 
                    picture
                      source(srcset='https://cdn-com.cosentino.com/wp-content/uploads/2020/11/A_MGFjZjlkZDY2YjhlM2JmOSK4_vLorih8sPYXKy_36TMPa5bnpwuYzqOSCyyVZhoSeSd3NbRImVeCFhEvc5YbrMhrH8jZis5rYga7zu494w2cwRu7r3GqQqN-YYWiBs11.svg' type='image/avif')
                      source(srcset='https://cdn-com.cosentino.com/wp-content/uploads/2020/11/A_MGFjZjlkZDY2YjhlM2JmOSK4_vLorih8sPYXKy_36TMPa5bnpwuYzqOSCyyVZhoSeSd3NbRImVeCFhEvc5YbrMhrH8jZis5rYga7zu494w2cwRu7r3GqQqN-YYWiBs11.svg' type='image/webp')
                    img(src='https://cdn-com.cosentino.com/wp-content/uploads/2020/11/A_MGFjZjlkZDY2YjhlM2JmOSK4_vLorih8sPYXKy_36TMPa5bnpwuYzqOSCyyVZhoSeSd3NbRImVeCFhEvc5YbrMhrH8jZis5rYga7zu494w2cwRu7r3GqQqN-YYWiBs11.svg' data-src='https://cdn-com.cosentino.com/wp-content/uploads/2020/11/A_MGFjZjlkZDY2YjhlM2JmOSK4_vLorih8sPYXKy_36TMPa5bnpwuYzqOSCyyVZhoSeSd3NbRImVeCFhEvc5YbrMhrH8jZis5rYga7zu494w2cwRu7r3GqQqN-YYWiBs11.svg' alt='carousel' width='' height='')
                  p Khám phá những ưu điểm nổi bật của sản phẩm đá thạch anh Vicostone để hiểu được lí do chúng tôi là sự lựa chọn tuyệt với nhất cho căn nhà của bạn
              a.see-more(href="") More info