extends _layout/default

block vars
  -title        = 'contact'
  -description  = ''
  -keywords     = ''
  -pageID       = 'top'
  -path         = ''
  -ispage       = 'contact'
block before_page
    link(rel="preload" as="style" type='text/css' href='//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css' onload="this.onload=null;this.rel='stylesheet'")
    noscript
      link( rel="stylesheet" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css")
block after_page
    script(type='text/javascript' src='//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js')
    script.
      $(document).ready(function(){
        $('.slick-sure').not('.slick-initialized').slick({
          infinite: true,
          slidesToShow: 3,
          slidesToScroll: 1,
          dots: false,
          arrows: false,
          lazyLoad: 'ondemand',
          responsive: [
             {
              breakpoint: 992,
              settings: {
                slidesToShow: 2,
                slidesToScroll: 2
              }
            },
            {
              breakpoint: 768,
              settings: {
                slidesToShow: 1,
                slidesToScroll: 1
              }
            }
          ]
        });
      });
block container
  .l-container
    include _modules/sure_contact
  .contact
    .l-container
      .map
        iframe(src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7839.040405691896!2d106.68206902644715!3d10.771412409120655!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752fc2ce24c1f7%3A0x223c99e3370fea8!2zQuG7h25oIHZp4buHbiBCw6xuaCBEw6Ju!5e0!3m2!1sen!2s!4v1657273312849!5m2!1sen!2s' width='100%' height='888' style='border:0;' allowfullscreen='' loading='lazy' referrerpolicy='no-referrer-when-downgrade')
      .form
        .form_inner
          h4 LIÊN HỆ VỚI CHÚNG TÔI
          input(type="text" placeholder="Tên của bạn *")
          input(type="mail" placeholder="Email của bạn *")
          input(type="phone" placeholder="Số điện thoại *")
          input(type="text" placeholder="Tiêu đề")
          textarea(name="", cols="30", rows="25" placeholder="Nội dung *") 
          input.btn_red(type="submit" value="GỬI")
    include _modules/info        


