extends _layout/default

block vars
  -title        = 'Top'
  -description  = ''
  -keywords     = ''
  -pageID       = 'top'
  -path         = ''
block before_page
    link(rel="preload" as="style" type='text/css' href='//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css' onload="this.onload=null;this.rel='stylesheet'")
    noscript
      link( rel="stylesheet" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css")
block after_page
    script(type='text/javascript' src='//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js')
    script.
      $(document).ready(function(){
        $('.c-carousel_inner ').not('.slick-initialized').slick({
          slidesToShow: 1,
          infinite: true,
          dots: true,
          speed: 300,
          arrows: false,
          lazyLoad: 'ondemand',
          });
      });
      $(".showroom__list").slick({
          slidesToShow: 2 ,
          infinite: true,
          autoplay: true,
          dots: false,
          arrows: true,
          autoplaySpeed: 4000,
          responsive: [
          {
            breakpoint: 600,
            settings: {
              slidesToShow: 1,
            },
          },
        ],
      });

      $('.c-product__slide').slick({
        infinite: true,
        slidesToShow: 4,
        slidesToScroll: 1,
        arrows: true,
        dots: false,
        initialSlide: 3,
        responsive: [
          {
            breakpoint: 600,
            settings: {
              slidesToShow: 1,
            },
          },
        ],
      });


      //- tab silestone
      $(document).ready(function(){

        $('.tabs-product__nav li').click(function(){
          var tab_id = $(this).attr('data-tab');

          $('.tabs-product__nav li').removeClass('current');
          $('.tab-content').removeClass('current');

          $(this).addClass('current');
          $("#"+tab_id).addClass('current');
        })
      })

      //- tab dekton
      $(document).ready(function(){

        $('.tabs-product__nav-2 li').click(function(){
          var tabs_id = $(this).attr('data-tab');

          $('.tabs-product__nav-2 li').removeClass('current');
          $('.tab-content2').removeClass('current');

          $(this).addClass('current');
          $("#"+tabs_id).addClass('current');
        })
      })

      //- slide tab1
      $('.c-product__slide--tab1').slick({
        infinite: true,
        slidesToShow: 4,
        slidesToScroll: 1,
        arrows: true,
        dots: false,
        initialSlide: 3,
        responsive: [
        {
          breakpoint: 600,
          settings: {
            slidesToShow: 1,
          },
        },
      ],
      });

      //- slide tab2
      $('.c-product__slide--tab2').slick({
        infinite: true,
        slidesToShow: 4,
        slidesToScroll: 1,
        arrows: true,
        dots: false,
        initialSlide: 3,
        responsive: [
        {
          breakpoint: 600,
          settings: {
            slidesToShow: 1,
          },
        },
      ],
      });

      //- slide đá
      $('.tabs-product__list-slide1').slick({
        infinite: true,
        slidesToShow: 4,
        slidesToScroll: 1,
        arrows: true,
        dots: false,
        initialSlide: 3,
        responsive: [
        {
          breakpoint: 600,
          settings: {
            slidesToShow: 1,
          },
        },
      ],
      });
      //- da dekton
      $('.slide-dekton').slick({
        infinite: true,
        slidesToShow: 4,
        slidesToScroll: 1,
        arrows: true,
        dots: false,
        initialSlide: 2,
        responsive: [
        {
          breakpoint: 600,
          settings: {
            slidesToShow: 1,
          },
        },
      ],
      });

      //- tab Latest releases
      $(document).ready(function(){

        $('.tabs-latest li').click(function(){
          var tabx_id = $(this).attr('data-tab');

          $('.tabs-latest li').removeClass('current');
          $('.tab-latest-content').removeClass('current');

          $(this).addClass('current');
          $("#"+tabx_id).addClass('current');
        })
      })

block container
  .c-carousel
    .c-carousel_inner
      .c-carousel_item
          picture
            source(srcset='https://chus.dosi-in.com/images/promo/8/4000x1333_Web_Viehehe.jpeg' type="image/avif")
            source(srcset='https://chus.dosi-in.com/images/promo/8/4000x1333_Web_Viehehe.jpeg' type="image/webp")
            img(src='https://chus.dosi-in.com/images/promo/8/4000x1333_Web_Viehehe.jpeg' alt='carousel'  width="100%" height="100%")
          a(href='#' taget="_blank").m-btn More Detail
      .c-carousel_item
        a(href="#")
          picture
            source(srcset='https://chus.dosi-in.com/images/promo/8/4000x1333_Web_Viehaha.jpeg' type="image/avif")
            source(srcset='https://chus.dosi-in.com/images/promo/8/4000x1333_Web_Viehaha.jpeg' type="image/webp")
            img(src='https://chus.dosi-in.com/images/promo/8/4000x1333_Web_Viehaha.jpeg' alt='carousel'  width="100%" height="100%")
          a(href='#' taget="_blank").m-btn More Detail
  .l-container

    section.i-intros
      //- include ./_modules/heading-primary
      .heading__primary
          h2 GIỚI THIỆU
      .intro
        .intro__video.intro__box
          video(width='' height='' controls='')
            source(src='movie.mp4' type='video/mp4')
            source(src='movie.ogg' type='video/ogg')
        .intro__content.intro__box
          .intro__content__item
            h4 Text Giới thiệu Heading
            p Khởi nghiệp từ năm 2009, thương hiệu cosentino đã có được vị thế và niềm tin của nhiều tổ chức, đơn vị kinh doanh, chủ đầu tư nhờ các sản phẩm có mẫu mã đẹp, độ bền cao, đội ngũ thi công hoàn chỉnh, đáp ứng tốt nhu cầu XD công nghiệp và dân dụng. Hiện tại, cosentino
            a(href="#") xem thêm
          .intro__content__btn
            a(href="" title="intro").intro__content__intro-skill
              <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M12.0122 5.57169L10.9252 4.48469C8.77734 2.33681 5.29493 2.33681 3.14705 4.48469C0.999162 6.63258 0.999162 10.115 3.14705 12.2629L11.9859 21.1017L11.9877 21.0999L12.014 21.1262L20.8528 12.2874C23.0007 10.1395 23.0007 6.65711 20.8528 4.50923C18.705 2.36134 15.2226 2.36134 13.0747 4.50923L12.0122 5.57169ZM11.9877 18.2715L16.9239 13.3352L18.3747 11.9342L18.3762 11.9356L19.4386 10.8732C20.8055 9.50635 20.8055 7.29028 19.4386 5.92344C18.0718 4.55661 15.8557 4.55661 14.4889 5.92344L12.0133 8.39904L12.006 8.3918L12.005 8.39287L9.51101 5.89891C8.14417 4.53207 5.92809 4.53207 4.56126 5.89891C3.19442 7.26574 3.19442 9.48182 4.56126 10.8487L7.10068 13.3881L7.10248 13.3863L11.9877 18.2715Z" fill="currentColor" />
              </svg>
              span Gới thiệu năng lực
            a(href="" title="Liên hệ cosentino").intro__content__intro-cosentino
              <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M3.00977 5.83789C3.00977 5.28561 3.45748 4.83789 4.00977 4.83789H20C20.5523 4.83789 21 5.28561 21 5.83789V17.1621C21 18.2667 20.1046 19.1621 19 19.1621H5C3.89543 19.1621 3 18.2667 3 17.1621V6.16211C3 6.11449 3.00333 6.06765 3.00977 6.0218V5.83789ZM5 8.06165V17.1621H19V8.06199L14.1215 12.9405C12.9499 14.1121 11.0504 14.1121 9.87885 12.9405L5 8.06165ZM6.57232 6.80554H17.428L12.7073 11.5263C12.3168 11.9168 11.6836 11.9168 11.2931 11.5263L6.57232 6.80554Z" fill="currentColor" />
              </svg>
              span Liên hệ với cosentino

    //- showroom
    section.showroom
      .heading__primary
        h2 SHOWROOM
      .showroom__wrapper
        .showroom__list
          .showroom__item
            picture
              source(srcset='https://sieuthida.vn/wp-content/uploads/2020/05/kho-phan-tr%E1%BB%8Dng-tu%E1%BB%87.jpg' type='image/avif')
              source(srcset='https://sieuthida.vn/wp-content/uploads/2020/05/kho-phan-tr%E1%BB%8Dng-tu%E1%BB%87.jpg' type='image/webp')
              img(src='https://sieuthida.vn/wp-content/uploads/2020/05/kho-phan-tr%E1%BB%8Dng-tu%E1%BB%87.jpg' data-src='https://sieuthida.vn/wp-content/uploads/2020/05/kho-phan-tr%E1%BB%8Dng-tu%E1%BB%87.jpg' alt='carousel' width='100%' height='100%')
            .showroom__body
              h3 KHO PHAN TRỌNG TUỆ
              p Đ/c: Km số 2 Phan Trọng Tuệ, Thanh Trì, Hà Nội. Diện tích > 6.000m2. Hơn nghìn mẫu đá Granite, Marble, Thạch Anh, Nhân tạo hot nhất hiện nay, liên tục cập nhật các mẫu mới
          .showroom__item
            picture
              source(srcset='https://sieuthida.vn/wp-content/uploads/2020/05/kho-d%C3%A1-ninh-b%C3%ACnh.jpg' type='image/avif')
              source(srcset='https://sieuthida.vn/wp-content/uploads/2020/05/kho-d%C3%A1-ninh-b%C3%ACnh.jpg' type='image/webp')
              img(src='https://sieuthida.vn/wp-content/uploads/2020/05/kho-d%C3%A1-ninh-b%C3%ACnh.jpg' data-src='https://sieuthida.vn/wp-content/uploads/2020/05/kho-d%C3%A1-ninh-b%C3%ACnh.jpg' alt='carousel' width='100%' height='100%')
            .showroom__body
              h3 KHO NINH BÌNH
              p Đ/c: Cảng Phúc Lộc, Ninh Phúc, Ninh Bình (nằm ngay sát bờ sông Đáy). Diện tích > 11000m2.  100% đá nội địa đủ chủng loại, kích thước, chuyên giao hàng container, phục vụ 24/7
          .showroom__item
            picture
              source(srcset='https://sieuthida.vn/wp-content/uploads/2020/05/kho-phan-tr%E1%BB%8Dng-tu%E1%BB%87.jpg' type='image/avif')
              source(srcset='https://sieuthida.vn/wp-content/uploads/2020/05/kho-phan-tr%E1%BB%8Dng-tu%E1%BB%87.jpg' type='image/webp')
              img(src='https://sieuthida.vn/wp-content/uploads/2020/05/kho-phan-tr%E1%BB%8Dng-tu%E1%BB%87.jpg' data-src='https://sieuthida.vn/wp-content/uploads/2020/05/kho-phan-tr%E1%BB%8Dng-tu%E1%BB%87.jpg' alt='carousel' width='100%' height='100%')
            .showroom__body
              h3 KHO PHAN TRỌNG TUỆ
              p Đ/c: Km số 2 Phan Trọng Tuệ, Thanh Trì, Hà Nội. Diện tích > 6.000m2. Hơn nghìn mẫu đá Granite, Marble, Thạch Anh, Nhân tạo hot nhất hiện nay, liên tục cập nhật các mẫu mới

    //- categories
    section.m-category
      include ./_modules/tittle
      include ./_modules/categories

    section
      .heading__primary
        h2 Latest releases
      .tabs-latest
        li.tab-latest.current(data-tab="tabx-1") SUNLIT DAYS
        li.tab-latest(data-tab="tabx-2") ETHEREAL
        li.tab-latest(data-tab="tabx-3") LOFT
      .tabs-latest__inner
        #tabx-1.tab-latest-content.current
          .releases__box
            .releases__box__left
              a(href="")
                picture
                  source(srcset='https://www.cosentino.com/wp-content/uploads/2022/07/silestone-ethereal-a.jpg' type='image/avif')
                  source(srcset='https://www.cosentino.com/wp-content/uploads/2022/07/silestone-ethereal-a.jpg' type='image/webp')
                  img(src='https://www.cosentino.com/wp-content/uploads/2022/07/silestone-ethereal-a.jpg' data-src='https://www.cosentino.com/wp-content/uploads/2022/07/silestone-ethereal-a.jpg' alt='carousel' width='100%' height='100%')
            .releases__box__right
              a(href="")
                picture
                  source(srcset='https://www.cosentino.com/wp-content/uploads/2022/07/silestone-sunlit-days-b.jpg' type='image/avif')
                  source(srcset='https://www.cosentino.com/wp-content/uploads/2022/07/silestone-sunlit-days-b.jpg' type='image/webp')
                  img(src='https://www.cosentino.com/wp-content/uploads/2022/07/silestone-sunlit-days-b.jpg' data-src='https://www.cosentino.com/wp-content/uploads/2022/07/silestone-sunlit-days-b.jpg' alt='carousel' width='100%' height='100%')


        #tabx-2.tab-latest-content
          .releases__box
            .releases__box__left
              a(href="")
                picture
                  source(srcset='https://www.cosentino.com/wp-content/uploads/2022/07/silestone-ethereal-a.jpg' type='image/avif')
                  source(srcset='https://www.cosentino.com/wp-content/uploads/2022/07/silestone-ethereal-a.jpg' type='image/webp')
                  img(src='https://www.cosentino.com/wp-content/uploads/2022/07/silestone-ethereal-a.jpg' data-src='https://www.cosentino.com/wp-content/uploads/2022/07/silestone-ethereal-a.jpg' alt='carousel' width='100%' height='100%')
            .releases__box__right
              a(href="")
                picture
                  source(srcset='https://www.cosentino.com/wp-content/uploads/2022/07/silestone-ethereal-b.jpg' type='image/avif')
                  source(srcset='https://www.cosentino.com/wp-content/uploads/2022/07/silestone-ethereal-b.jpg' type='image/webp')
                  img(src='https://www.cosentino.com/wp-content/uploads/2022/07/silestone-ethereal-b.jpg' data-src='https://www.cosentino.com/wp-content/uploads/2022/07/silestone-ethereal-b.jpg' alt='carousel' width='100%' height='100%')

        #tabx-3.tab-latest-content
          .releases__box
            .releases__box__left
              a(href="")
                picture
                  source(srcset='https://www.cosentino.com/wp-content/uploads/2022/07/silestone-loft-a.jpg' type='image/avif')
                  source(srcset='https://www.cosentino.com/wp-content/uploads/2022/07/silestone-loft-a.jpg' type='image/webp')
                  img(src='https://www.cosentino.com/wp-content/uploads/2022/07/silestone-loft-a.jpg' data-src='https://www.cosentino.com/wp-content/uploads/2022/07/silestone-loft-a.jpg' alt='carousel' width='100%' height='100%')
            .releases__box__right
              a(href="")
                picture
                  source(srcset='https://www.cosentino.com/wp-content/uploads/2022/07/silestone-loft-b.jpg' type='image/avif')
                  source(srcset='https://www.cosentino.com/wp-content/uploads/2022/07/silestone-loft-b.jpg' type='image/webp')
                  img(src='https://www.cosentino.com/wp-content/uploads/2022/07/silestone-loft-b.jpg' data-src='https://www.cosentino.com/wp-content/uploads/2022/07/silestone-loft-b.jpg' alt='carousel' width='100%' height='100%')

    //- cart product new
    section.product
      .heading__primary(style="justify-content: flex-start;")
            h2 DÒNG ĐÁ MỚI
      .c-product__slide
        .c-product__slide__item
          include ./_modules/cart_product
        .c-product__slide__item
          include ./_modules/cart_product
        .c-product__slide__item
          include ./_modules/cart_product
        .c-product__slide__item
          include ./_modules/cart_product
        .c-product__slide__item
          include ./_modules/cart_product
        .c-product__slide__item
          include ./_modules/cart_product

    //- product tab silestone
    section.product__tab
      //- .heading__primary
      //-   h2 Danh mục đá
      .tabs-product
        .cate-home
          .cate-home-box
            h2 Đá silestone
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M10.5858 6.34317L12 4.92896L19.0711 12L12 19.0711L10.5858 17.6569L16.2427 12L10.5858 6.34317Z" fill="currentColor" />
            </svg>
          ul.tabs-product__nav
            li.tab-link.current(data-tab="tab-1") Đá Granite Trắng
            li.tab-link(data-tab="tab-2") Đá Granite tim
            li.tab-link(data-tab="tab-3") Đá Granite do
            li.tab-link(data-tab="tab-4") Đá Granite xanh
            li.tab-link(data-tab="tab-5") Đá Granite vang

        .tabs-product__stage
          #tab-1.tab-content.current
            .tabs-product__list.tabs-product__list-slide1
              .tabs-product__item
                include ./_modules/cart_product
              .tabs-product__item
                include ./_modules/cart_product
              .tabs-product__item
                include ./_modules/cart_product
              .tabs-product__item
                include ./_modules/cart_product
              .tabs-product__item
                include ./_modules/cart_product
              .tabs-product__item
                include ./_modules/cart_product
            a(href="").arrow__long
              span Xem thêm
              <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M23.0677 11.9929L18.818 7.75739L17.4061 9.17398L19.2415 11.0032L0.932469 11.0012L0.932251 13.0012L19.2369 13.0032L17.4155 14.8308L18.8321 16.2426L23.0677 11.9929Z" fill="currentColor" /></svg>

          #tab-2.tab-content
            .tabs-product__list
              .tabs-product__item
                include ./_modules/cart_product
              .tabs-product__item
                include ./_modules/cart_product
              .tabs-product__item
                include ./_modules/cart_product
              .tabs-product__item
                include ./_modules/cart_product

            .arrow__long
              span Xem thêm
              <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M23.0677 11.9929L18.818 7.75739L17.4061 9.17398L19.2415 11.0032L0.932469 11.0012L0.932251 13.0012L19.2369 13.0032L17.4155 14.8308L18.8321 16.2426L23.0677 11.9929Z" fill="currentColor" /></svg>
          #tab-3.tab-content
            .tabs-product__list.tabs-product__list-slide3
              .tabs-product__item
                include ./_modules/cart_product
              .tabs-product__item
                include ./_modules/cart_product
              .tabs-product__item
                include ./_modules/cart_product
              .tabs-product__item
                include ./_modules/cart_product
              .tabs-product__item
                include ./_modules/cart_product
              .tabs-product__item
                include ./_modules/cart_product
            .arrow__long
              span Kéo sang
              <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M23.0677 11.9929L18.818 7.75739L17.4061 9.17398L19.2415 11.0032L0.932469 11.0012L0.932251 13.0012L19.2369 13.0032L17.4155 14.8308L18.8321 16.2426L23.0677 11.9929Z" fill="currentColor" /></svg>

          #tab-4.tab-content
            .tabs-product__list.tabs-product__list-slide4
              .tabs-product__item
                include ./_modules/cart_product
              .tabs-product__item
                include ./_modules/cart_product
            .arrow__long
              span Kéo sang
              <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M23.0677 11.9929L18.818 7.75739L17.4061 9.17398L19.2415 11.0032L0.932469 11.0012L0.932251 13.0012L19.2369 13.0032L17.4155 14.8308L18.8321 16.2426L23.0677 11.9929Z" fill="currentColor" /></svg>


          #tab-5.tab-content
            .tabs-product__list.tabs-product__list-slide5
              .tabs-product__item
                include ./_modules/cart_product
              .tabs-product__item
                include ./_modules/cart_product
              .tabs-product__item
                include ./_modules/cart_product
              .tabs-product__item
                include ./_modules/cart_product
              .tabs-product__item
                include ./_modules/cart_product
            .arrow__long
              span Kéo sang
              <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M23.0677 11.9929L18.818 7.75739L17.4061 9.17398L19.2415 11.0032L0.932469 11.0012L0.932251 13.0012L19.2369 13.0032L17.4155 14.8308L18.8321 16.2426L23.0677 11.9929Z" fill="currentColor" /></svg>

    //-
    //- product tab dekton
    section.product__tab
      .tabs-product
        .cate-home
          .cate-home-box
            h2 Đá dekton
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M10.5858 6.34317L12 4.92896L19.0711 12L12 19.0711L10.5858 17.6569L16.2427 12L10.5858 6.34317Z" fill="currentColor" />
            </svg>
          ul.tabs-product__nav-2
            li.tab-link.current(data-tab="tabs-1") Đá Granite Trắng
            li.tab-link(data-tab="tabs-2") Đá Granite tim
            li.tab-link(data-tab="tabs-3") Đá Granite do
            li.tab-link(data-tab="tabs-4") Đá Granite xanh
            li.tab-link(data-tab="tabs-5") Đá Granite vang

        .tabs-product__stage
          #tabs-1.tab-content2.current
            .tabs-product__list.slide-dekton
              .tabs-product__item
                include ./_modules/cart_product
              .tabs-product__item
                include ./_modules/cart_product
              .tabs-product__item
                include ./_modules/cart_product
              .tabs-product__item
                include ./_modules/cart_product
              .tabs-product__item
                include ./_modules/cart_product
              .tabs-product__item
                include ./_modules/cart_product
            .arrow__long
              span Kéo sang
              <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M23.0677 11.9929L18.818 7.75739L17.4061 9.17398L19.2415 11.0032L0.932469 11.0012L0.932251 13.0012L19.2369 13.0032L17.4155 14.8308L18.8321 16.2426L23.0677 11.9929Z" fill="currentColor" /></svg>

          #tabs-2.tab-content2
            .tabs-product__list
              .tabs-product__item
                include ./_modules/cart_product
              .tabs-product__item
                include ./_modules/cart_product
              .tabs-product__item
                include ./_modules/cart_product
              .tabs-product__item
                include ./_modules/cart_product

            .arrow__long
              span Kéo sang
              <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M23.0677 11.9929L18.818 7.75739L17.4061 9.17398L19.2415 11.0032L0.932469 11.0012L0.932251 13.0012L19.2369 13.0032L17.4155 14.8308L18.8321 16.2426L23.0677 11.9929Z" fill="currentColor" /></svg>
          #tabs-3.tab-content2
            .tabs-product__list
              .tabs-product__item
                include ./_modules/cart_product
              .tabs-product__item
                include ./_modules/cart_product
              .tabs-product__item
                include ./_modules/cart_product
              .tabs-product__item
                include ./_modules/cart_product
              .tabs-product__item
                include ./_modules/cart_product
              .tabs-product__item
                include ./_modules/cart_product
            .arrow__long
              span Kéo sang
              <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M23.0677 11.9929L18.818 7.75739L17.4061 9.17398L19.2415 11.0032L0.932469 11.0012L0.932251 13.0012L19.2369 13.0032L17.4155 14.8308L18.8321 16.2426L23.0677 11.9929Z" fill="currentColor" /></svg>

          #tabs-4.tab-content2
            .tabs-product__list
              .tabs-product__item
                include ./_modules/cart_product
              .tabs-product__item
                include ./_modules/cart_product
            .arrow__long
              span Kéo sang
              <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M23.0677 11.9929L18.818 7.75739L17.4061 9.17398L19.2415 11.0032L0.932469 11.0012L0.932251 13.0012L19.2369 13.0032L17.4155 14.8308L18.8321 16.2426L23.0677 11.9929Z" fill="currentColor" /></svg>


          #tabs-5.tab-content2
            .tabs-product__list
              .tabs-product__item
                include ./_modules/cart_product
              .tabs-product__item
                include ./_modules/cart_product
              .tabs-product__item
                include ./_modules/cart_product
              .tabs-product__item
                include ./_modules/cart_product
              .tabs-product__item
                include ./_modules/cart_product
            .arrow__long
              span Kéo sang
              <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M23.0677 11.9929L18.818 7.75739L17.4061 9.17398L19.2415 11.0032L0.932469 11.0012L0.932251 13.0012L19.2369 13.0032L17.4155 14.8308L18.8321 16.2426L23.0677 11.9929Z" fill="currentColor" /></svg>




    //- service
    //- section.services
    //-   include ./_modules/heading-primary
    //-   .service
    //-     .service__wrapper
    //-       .service__list
    //-         .service__item
    //-           .service__box
    //-             a.service__img(href="" title="service")
    //-               img(src="https://www.prime.vn/assets/frontend/images/news-lg-2.jpg", alt="")
    //-             a.service__text(href="" title="")
    //-               h3 Phân phối đá vật tư
    //-             a(href="" title="").service__see-more
    //-               span  see more
    //-         .service__item
    //-           .service__box
    //-             a.service__img(href="" title="service")
    //-               img(src="https://www.prime.vn/assets/frontend/images/news-lg-2.jpg", alt="")
    //-             a.service__text(href="" title="")
    //-               h3 Phân phối đá vật tư
    //-             a(href="" title="").service__see-more
    //-               span  see more
    //-         .service__item
    //-           .service__box
    //-             a.service__img(href="" title="service")
    //-               img(src="https://www.prime.vn/assets/frontend/images/news-lg-2.jpg", alt="")
    //-             a.service__text(href="" title="")
    //-               h3 Phân phối đá vật tư
    //-             a(href="" title="").service__see-more
    //-               span  see more
    //-         .service__item
    //-           .service__box
    //-             a.service__img(href="" title="service")
    //-               img(src="https://www.prime.vn/assets/frontend/images/news-lg-2.jpg", alt="")
    //-             a.service__text(href="" title="")
    //-               h3 Phân phối đá vật tư
    //-             a(href="" title="").service__see-more
    //-               span  see more
    //-         .service__item
    //-           .service__box
    //-             a.service__img(href="" title="service")
    //-               img(src="https://www.prime.vn/assets/frontend/images/news-lg-2.jpg", alt="")
    //-             a.service__text(href="" title="")
    //-               h3 Phân phối đá vật tư
    //-             a(href="" title="").service__see-more
    //-               span  see more


    //- Styles & Trends

    section
      .heading__primary
        h2 Styles & Trends
      .style__inner
        .style__feature-left
          .style__cart__item-c
            a(href="" title="feature")
              picture
                source(srcset='https://www.cosentino.com/wp-content/uploads/2020/12/CE6I8503.jpg' type='image/avif')
                source(srcset='https://www.cosentino.com/wp-content/uploads/2020/12/CE6I8503.jpg' type='image/webp')
                img(src='https://www.cosentino.com/wp-content/uploads/2020/12/CE6I8503.jpg' data-src='https://www.cosentino.com/wp-content/uploads/2020/12/CE6I8503.jpg' alt='carousel' width='100%' height='100%')
              h3.style__cart__cate Designers
              p.style__cart__content Patternity
        .style__feature-right
          .style__cart__list
            .style__cart__item
              a(href="" title="feature")
                picture
                  source(srcset='https://www.cosentino.com/wp-content/uploads/2022/07/79Warren-1.jpg' type='image/avif')
                  source(srcset='https://www.cosentino.com/wp-content/uploads/2022/07/79Warren-1.jpg' type='image/webp')
                  img(src='https://www.cosentino.com/wp-content/uploads/2022/07/79Warren-1.jpg' data-src='https://www.cosentino.com/wp-content/uploads/2022/07/79Warren-1.jpg' alt='carousel' width='100%' height='100%')
                h3.style__cart__cate TOP HOMES
                p.style__cart__content Natural stone plays a key role in this house in Turkey
            .style__cart__item
              a(href="" title="feature")
                picture
                  source(srcset='https://www.cosentino.com/wp-content/uploads/2022/08/Casa-Vera-0076_1-1536x1151.jpg' type='image/avif')
                  source(srcset='https://www.cosentino.com/wp-content/uploads/2022/08/Casa-Vera-0076_1-1536x1151.jpg' type='image/webp')
                  img(src='https://www.cosentino.com/wp-content/uploads/2022/08/Casa-Vera-0076_1-1536x1151.jpg' data-src='https://www.cosentino.com/wp-content/uploads/2022/08/Casa-Vera-0076_1-1536x1151.jpg' alt='carousel' width='100%' height='100%')
                h3.style__cart__cate TOP HOMES
                p.style__cart__content A Mediterranean style home with a contemporary character thanks to Dekton
            .style__cart__item
              a(href="" title="feature")
                picture
                  source(srcset='https://www.cosentino.com/wp-content/uploads/2022/08/Credit-@sifmeincke.jpeg' type='image/avif')
                  source(srcset='https://www.cosentino.com/wp-content/uploads/2022/08/Credit-@sifmeincke.jpeg' type='image/webp')
                  img(src='https://www.cosentino.com/wp-content/uploads/2022/08/Credit-@sifmeincke.jpeg' data-src='https://www.cosentino.com/wp-content/uploads/2022/08/Credit-@sifmeincke.jpeg' alt='carousel' width='100%' height='100%')
                h3.style__cart__cate TOP HOMES
                p.style__cart__content A touch of paint and a Silestone worktop for the renovation of a beautiful and modern kitchen
            .style__cart__item
              a(href="" title="feature")
                picture
                  source(srcset='https://www.cosentino.com/wp-content/uploads/2022/08/ZMY_0258-1-1536x1024.jpg' type='image/avif')
                  source(srcset='https://www.cosentino.com/wp-content/uploads/2022/08/ZMY_0258-1-1536x1024.jpg' type='image/webp')
                  img(src='https://www.cosentino.com/wp-content/uploads/2022/08/ZMY_0258-1-1536x1024.jpg' data-src='https://www.cosentino.com/wp-content/uploads/2022/08/ZMY_0258-1-1536x1024.jpg' alt='carousel' width='100%' height='100%')
                h3.style__cart__cate TOP HOMES
                p.style__cart__content A luxury house full of contrasts in Turkey
    //- giải pháp (tin tức)
    section.solution
      .heading__primary
        h2 Giải pháp kiến trúc
      p.solution__txt Through its brands, Silestone, Dekton, and Sensa, Cosentino provides sustainable design surfaces and a global services network to bring any project to life.
      .solution__list
        .solution__item
          a(href="" title="solution")
            picture
              source(srcset='https://www.cosentino.com/wp-content/uploads/2022/04/Home-1158x1000-1-Ultra-compact-facadesArchitectura.jpg' type='image/avif')
              source(srcset='https://www.cosentino.com/wp-content/uploads/2022/04/Home-1158x1000-1-Ultra-compact-facadesArchitectura.jpg' type='image/webp')
              img(src='https://www.cosentino.com/wp-content/uploads/2022/04/Home-1158x1000-1-Ultra-compact-facadesArchitectura.jpg' data-src='https://www.cosentino.com/wp-content/uploads/2022/04/Home-1158x1000-1-Ultra-compact-facadesArchitectura.jpg' alt='carousel' width='100%' height='100%')
            h3 Ultra compact façades
        .solution__item
          a(href="" title="solution")
            picture
              source(srcset='https://www.cosentino.com/wp-content/uploads/2022/04/Home-1158-X1000-2-High-Performance-FlooringsArchitectura.jpg' type='image/avif')
              source(srcset='https://www.cosentino.com/wp-content/uploads/2022/04/Home-1158-X1000-2-High-Performance-FlooringsArchitectura.jpg' type='image/webp')
              img(src='https://www.cosentino.com/wp-content/uploads/2022/04/Home-1158-X1000-2-High-Performance-FlooringsArchitectura.jpg' data-src='https://www.cosentino.com/wp-content/uploads/2022/04/Home-1158-X1000-2-High-Performance-FlooringsArchitectura.jpg' alt='carousel' width='100%' height='100%')
            h3 High-performance flooring
        .solution__item
          a(href="" title="solution")
            picture
              source(srcset='https://www.cosentino.com/wp-content/uploads/2022/04/Home-1158x1000-3-Professional-KitchenArchitectura.jpg' type='image/avif')
              source(srcset='https://www.cosentino.com/wp-content/uploads/2022/04/Home-1158x1000-3-Professional-KitchenArchitectura.jpg' type='image/webp')
              img(src='https://www.cosentino.com/wp-content/uploads/2022/04/Home-1158x1000-3-Professional-KitchenArchitectura.jpg' data-src='https://www.cosentino.com/wp-content/uploads/2022/04/Home-1158x1000-3-Professional-KitchenArchitectura.jpg' alt='carousel' width='100%' height='100%')
            h3 Professional kitchens
        .solution__item
          a(href="" title="solution")
            picture
              source(srcset='https://www.cosentino.com/wp-content/uploads/2022/08/ZMY_0258-1-1536x1024.jpg' type='image/avif')
              source(srcset='https://www.cosentino.com/wp-content/uploads/2022/08/ZMY_0258-1-1536x1024.jpg' type='image/webp')
              img(src='https://www.cosentino.com/wp-content/uploads/2022/08/ZMY_0258-1-1536x1024.jpg' data-src='https://www.cosentino.com/wp-content/uploads/2022/08/ZMY_0258-1-1536x1024.jpg' alt='carousel' width='100%' height='100%')
            h3 Ultra compact façades
        .solution__item
          a(href="" title="solution")
            picture
              source(srcset='https://www.cosentino.com/wp-content/uploads/2022/08/ZMY_0258-1-1536x1024.jpg' type='image/avif')
              source(srcset='https://www.cosentino.com/wp-content/uploads/2022/08/ZMY_0258-1-1536x1024.jpg' type='image/webp')
              img(src='https://www.cosentino.com/wp-content/uploads/2022/08/ZMY_0258-1-1536x1024.jpg' data-src='https://www.cosentino.com/wp-content/uploads/2022/08/ZMY_0258-1-1536x1024.jpg' alt='carousel' width='100%' height='100%')
            h3 Ultra compact façades
        .solution__item
          a(href="" title="solution")
            picture
              source(srcset='https://www.cosentino.com/wp-content/uploads/2022/08/ZMY_0258-1-1536x1024.jpg' type='image/avif')
              source(srcset='https://www.cosentino.com/wp-content/uploads/2022/08/ZMY_0258-1-1536x1024.jpg' type='image/webp')
              img(src='https://www.cosentino.com/wp-content/uploads/2022/08/ZMY_0258-1-1536x1024.jpg' data-src='https://www.cosentino.com/wp-content/uploads/2022/08/ZMY_0258-1-1536x1024.jpg' alt='carousel' width='100%' height='100%')
            h3 Ultra compact façades


    //- footer v1
    include _modules/footer-v1.pug