extends _layout/default

block vars
  -title        = 'Top'
  -description  = ''
  -keywords     = ''
  -pageID       = 'top'
  -path         = ''
block before_page
    link(rel="preload" as="style" type='text/css' href='//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css' onload="this.onload=null;this.rel='stylesheet'")
    noscript
      link( rel="stylesheet" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css")
block after_page
    script(type='text/javascript' src='//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js')
    script.
        $('.p-details__box__slide').slick({
            infinite: true,
            slidesToShow: 1,
            slidesToScroll: 1, 
            arrows: true, 
            dots: false,
            initialSlide: 3,
            responsive: [
            {
            breakpoint: 600,
            settings: {
                slidesToShow: 1,
            },
            },
        ],
        });
     
block container
    .l-container
        //- 
        section 
            .p-details
                .p-details__inner
                    .p-details__box
                        .p-details__box__content
                            .p-details__title
                                h3 Amarcord
                                span BQ9500
                            .p-details__txt "Ấn tượng với dòng dung nham trên bề mặt núi lửa tự nhiên, đường vân Vicostone Amarcord như dòng chảy thành trầm tích tự do, mang đến vẻ đẹp vĩnh cửu, trường tồn cùng thời gian."
                            .p-details__img
                                img(src="http://localhost:4000/assets/images/online_visualizer.jpg", alt="")
                    .p-details__box    
                        .p-details__box__slide
                            .p-details__box__slide__item
                                img(src="http://localhost:4000/assets/images/online_visualizer.jpg", alt="")
                            .p-details__box__slide__item
                                img(src="http://localhost:4000/assets/images/online_visualizer.jpg", alt="")
                            .p-details__box__slide__item
                                img(src="http://localhost:4000/assets/images/online_visualizer.jpg", alt="")
                            .p-details__box__slide__item
                                img(src="http://localhost:4000/assets/images/online_visualizer.jpg", alt="")




