/*------------------------------------------------------------
	Footer
------------------------------------------------------------*/
.c-footer {
	width: 100%;
	padding: 8.5rem 0 10.6rem;
	text-align: center;
	background-color: #2B2929;
	color: #ffffffff;
	margin-top: 3rem;
	@include styleNormal;
	@include sp{
		padding: 50px 0;
	}
	&_top{
		@include flex-jbetween;
		flex-wrap: wrap;
		padding: 0 -20px;
		@include sp{
			width: 100%;
		}
		> dl{
			@include flex;
			flex-direction: column;
			text-align: left;
			width: calc(25% - 40px);
			margin: 0 20px;
			justify-content: space-between;
			dt {
				dl{
					margin-top: 2rem;
				}
				&:nth-child(2){
					margin-top: 4rem;
				}
			}
			@include sp{
				width: 100%;
				margin-bottom: 4rem;
				&:nth-child(1){
					order: 4;
				}
				&:nth-child(2){
					order: 1;
				}
				&:nth-child(3){
					order: 2;
				}
				&:nth-child(4){
					order: 3;
				}
			}
		}
		dt{
			text-align: left;
			@include styleDt;
		}
		dd{
			@include styleNormal;
			margin: 5px 0;
		}
		a{
			text-decoration: none;
			color: white;
			transition: 0.3 ease-out;
			&:hover{
				font-weight: bold;
			}
		}
	}
	&_copy{
		text-align: left;
		margin: 2.5rem 0 4rem !important;
		@include styleNormal;
	}
	&_bottom{
		@include flex-jbetween;
		margin-top: 10.62rem;
		@include sp{
			margin-top: 6rem;
		}
		align-items: center;
		flex-wrap: wrap;
		dl{
			@include sp{
				width: calc(50% - 20px);
			}
			&:nth-child(even){
				margin-left: 20px;
				margin-bottom: 10px;
			}
			&:nth-child(odd){
				margin-right: 20px;
			}
			&:nth-child(2){
				img{
					height: 62px;
					width: auto;
				}
			}
			&:nth-child(4){
				img{
					height: 102px;
					width: auto;
				}
			}
		}
	}
	&_logo{
		max-width: 161px;
	}
	&_social{
		@include flex;
		align-items: center;
		dd{
			margin:17px 5px;
		}
		img{
			height: auto;
		}
	}
	&_certificates{
		margin-top: 13px !important;
		padding: 0 -10px;
		dd{
			margin: 0 10px;
    	height: 39px;
			@include flex-center;
		}
	}
}