/*------------------------------------------------------------
	Header
------------------------------------------------------------*/
.c-header {
	width: 100%;
	transition: 0.5s ease-in;
	position: relative;
	background: linear-gradient(180deg,rgba(0,0,0,.95) 0%,rgba(0,0,0,.9) 25%,rgba(0,0,0,.85) 100%);
    backdrop-filter: blur(6px);
	z-index: 9;
	&_top{
		text-align: center;
		@include flex-center;
		align-items: center;
		height: 58px;
		border-bottom: 1px solid rgba(255,255,255,.3);
		p{
			font-size: 2rem;
			@include sp{
				font-size: 1.5rem;
			}
			line-height: 1.2;
			font-weight: 300;
			span{
				color: #EB6A6A;
				font-weight: bold;
			}
		}
		.l-container{
			@include flex-jbetween;
		}
	}
	&_nav{
		@include flex;
		@include sp{
			display: none;
		}
		li{
			margin-right: 15px;
			font-size: 14px;
			a{
				text-decoration: none;
				color: white;
			}
		}
	}
	&_logo{
		width: calc(100% - 160px);
		transform: translateX(-60px);
		@include sp{
			width: 100%;
			transform: translateX(0);
		}
	}
	&_inner{
		@include flex-center;
		padding: 10px 0;
		align-items: center;
		@include sp{
			padding: 0;
		}
	}
	&_menu{
		@include flex;
		@include sp{
			display: none;
		}
		li{
			padding: 10px 23px;
			a{
				text-decoration: none;
				font-size: 1.8rem;
				font-weight: 500;
				color: white;
				&:hover{
					border-bottom: 2px solid;
					transform: translateY(10px);
				}
			}
		}
	}
	&_icon{
		@include flex;
		align-items: center;
		@include sp{
			width: 100%;
			justify-content: space-between;
		}
		> li{
			padding: 10px;
			position: relative;
			@include sp{
				position: initial;
			}
			a{
				text-decoration: none;
				color: black;
				&:hover{
					color: #EB6A6A;
				}
			}
			svg{
				fill: #2B2929;
			}
			.icon_inner{
				position: relative;
			}
			&:hover{
				svg{
					fill: #EB6A6A;
				}
				.icon_inner{
					&::before{
						content: '';
						width: 0;
						height: 0;
						border-left: 15px solid transparent;
						border-right: 15px solid transparent;
						border-bottom: 15px solid #FFFFFF;
						position: absolute;
						bottom: -4px;
						left: 5px;
					}
				}
			}
			&.cart{
				.icon_inner{
					span{
						position: absolute;
						right: -3px;
						width: 18px;
						height: 18px;
						background-color: #EB6A6A;
						border-radius: 50%;
						text-align: center;
						color: white;
						font-size: 12px;
						font-weight: 400;
						line-height: 18px;
					}
				}
			}
			.c-menu_sub{
				width: 350px;
				@include sp{
					width: 100vw;
				}
				background: #FFFFFF;
				border-radius: 10px;
				left: auto;
				&inner{
					padding: 0 1rem;
					background-color: #FFFFFF;
					.cart{
						width: 350px;
						&_inner{
							li {
								@include flex-jbetween;
								margin-bottom: 1rem;
							}
						}
						&_img{
							width: 80px;
							height: auto;
						}
						&_content{
							width: calc(100% - 90px);
							margin-left: 10px;
							&_top{
								@include flex-jbetween;
								> a{
									width: calc(100% - 100px);
									text-decoration: none;
									strong{
										color: #000000;
									}
									p{
										color: #ABABAB;
									}
								}
							}
							&_bottom {
								@include flex-jbetween;
							}
						}
					}
				}
			}
			&.search{
				.c-menu_sub{
					width: 300px;
					form{
						position: relative;
						input{
							width: 100%;
							border-top: 0;
							border-left: 0;
							border-right: 0;
							height: 2rem;
							position: relative;
							&::placeholder{
								font-style: italic;
								font-weight: 300;
								font-size: 14px;
							}
						}
						i{
							position: absolute;
							right: 0;
							top: 4px;
						}
					}
				}
			}
			&.user{
				.c-menu_sub{
					width: 170px;
					a{
						font-size: 1.4rem;
						line-height: 1.5;
						padding: 5px 0;
						display: block;
					}
				}
			}
			&.lang{
				.icon_inner{
					&::before{
						bottom: -15px;
						left: -1px;
					}
				}
				.c-menu_sub{
					width: 170px;
					margin-top: 10px;
					ol{
						li{
							a{
								font-size: 1.4rem;
								line-height: 1.5;
								padding: 5px 0;
								display: block;
								position: relative;
								padding-left: 25px;
								@include flex;
								align-items: center;
								transition: 0.3 ease-in;
								&::before{
									content: '';
									position: absolute;
									background-image: url(../../assets/images/ellipse.svg);
									width: 18px;
									height: 18px;
									background-size: 18px;
									background-position: center;
									background-repeat: no-repeat;
									left: 0;
								}
							}
							&:hover{
								a{
									&::before{
										background-image: url(../../assets/images/radiobutton.svg);
									}
								}
							}
							&.wpml-ls-current-language{
								a{
									&::before{
										background-image: url(../../assets/images/radiobutton.svg);
									}
								}
							}
						}
					}
					.wcml-spinner{
						transform: translateX(-75px);
						width: 20px;
						height: 20px;
					}
				}
			}
		}
	}
	&_bottom{
		@include flex-jbetween;
	}
	&_logo{
		img{
			width: 159px;
		}
	}
	&.js-active{
		.c-menu_sub{
			position: inherit;
			padding: 0;
			display: none;
			&inner{
				padding: 0;
				.l-container {
					flex-direction: column;
					dl{
						width: calc(100% - 20px);
					}
				}
			}
		}
		.c-menu_dropdown{
			&:hover{
				.c-menu_sub{
					display: flex;
					visibility: visible;
    				transform: translateX(0);
				}
			}
		}
		.c-header_menu{
			position: fixed;
			top: 0;
			background-color: #F5F5F5;
			flex-direction: column;
			width: 100vw;
			height: 100vh;
			display: flex;
			z-index: 3;
			overflow-y: auto;
			flex-wrap: nowrap;
			li{
				width: 100%;
			}
		}
		.c-menu__logo{
			img{
				width: 141px;
			}
		}
		.c-menu__close{
			text-align: right;
			padding-bottom: 0;
		}
	}
	&.js_scroll{
		position: fixed;
		z-index: 99;
		top: -60px;
		@include sp{
			top: -70px;
		}
	}
}
